// =============================
//  style
// =============================
.architecture {
  padding-bottom: 137px;
  background-size: cover;
  background-repeat: no-repeat;

  // wasup
  // ==============================
  &--wasup {
    padding-top: 222px;
    background-image: url($path-img+'bg-architecture.png');
  }

  // roro
  // ==============================
  &--roro {
    padding-top: 60px;
    background-color: #2557a0;
  }

  // mobile
  // ==============================
  @include respond-to(960px) {
    padding-bottom: 80px;

    &--wasup {
      padding-top: 100px;
      background-position: center top;
    }

    .btn-pic {
      display: none;
    }
  } // > 960
} // architecture

// title
// =======================
.architecture__tit {
  margin-bottom: 40px;
  text-align: right;

  &::before {
    transform: rotate(225deg) scale(0.8);
    display: inline-block;
    margin-top: -2px;
    margin-right: 10px;
    content: '';
  }

  // wasup
  // =========================
  .architecture--wasup & {
    @include section-heading(#9c563b) {
      &::before {
        @include icon-setting($ic-arrow-brown2x);
      }
    }
  } // wasup tit

  // roro
  // ==============================
  .architecture--roro & {
    @include section-heading(#c4dff4) {
      &::before {
        @include icon-setting($ic-arrow-sora2x);
      }
    }
  } // roro tit

  // mobile
  // ==============================
  @include respond-to(960px) {
    &::before {
      transform: rotate(225deg) scale(0.6);
      margin-top: -6px;
    }
  }
}

// desc
// =======================
.architecture__desc {
  @include section-desc($color-light) {
    margin-bottom: 110px;
    text-align: right;
  }

  @include respond-to(960px) {
    margin-bottom: 40px;

    br {
      display: none;
    }
  }
}

// img
// =======================
.architecture__img {
  $shadow: -17px 27px 23px 0px rgba(0, 0, 0, 0.2);
  @include relative;

  display: inline-block;
  max-width: 100%;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;

  // architecture img size
  @each $type in ('wasup', 'roro') {
    .architecture--#{$type} & {
      @include size(percent(if($type == 'wasup', 864px, 880px), $width-max - 20), null);

      @if ($type == 'wasup') {
        border-radius: 30px;
      }
    }
  } // loop

  @include respond-to(960px) {
    box-shadow: none;

    .architecture--wasup &,
    .architecture--roro & {
      @include size(100%, null);
    }
  }
}

// =====================================================================
// architecture btn
// =====================================================================
.architecture__btn {
  $map-theme: (
    'wasup': #ffe6bf,
    'roro': #c4dff4
  );

  @include absolute($bottom: -35px, $right: -35px);
  @include size(70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: -2px 3px 10px 0 rgba(156, 86, 59, 0.2);

  &::before {
    display: block;
    content: '';
  }

  // theme
  // =============================================
  @each $type, $color in $map-theme {
    // btn color
    .architecture--#{$type} &:hover,
    .architecture--#{$type} &:active {
      background-color: $color;
    } // :hover, :active

    // btn icon
    .architecture--#{$type} &::before {
      @include icon-setting(if($type == 'wasup', $btn-pic-enlarge-2x, $btn-pic-enlarge-roro-2x));
    }
  } // loop
} // .architecture__btn
