// hero content
// ============================================================
.hero--roro {
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 198px;
  margin-bottom: -1px;
  background-image: url($path-img+'bg-visual-roro-2x.png');
  background-size: contain;

  & > .l-center {
    padding-top: 166px;
  }

  .hero__desc {
    padding-right: 0;
  }

  .hero__em {
    color: #469bf0;
  }

  .line-brake {
    display: block;
  }

  .btn-round--lite-blue {
    margin-right: 20px;
  }
  .link-detail {
    // @include relative;
    color: #2557a0;
    margin-top: 40px;

    &::after {
      // @include absolute($left: 100%, $top: -7px);
      @include sprite-position2x($ic-arrow-blue2x);
      transition: transform $arrow-anim-time;
      display: inline-block;
      margin-top: -7px;
    }

    &:hover::after {
      transform: rotate(90deg) scale($scale-arrow-sm) translateY(-20px);
    }
  }

  // mobile

  @media (max-width: 1198px) {
    [lang='en'] & .hero-motion-panel-wrap {
      width: 50%;
    }
  }

  @media (max-width: 1175px) {
    .l-left,
    .l-right {
      float: none;
    }

    &__center {
      // @include debug;
      padding-left: 64%;
      padding-right: 0;
    }

    .hero-motion-panel-wrap {
      @include absolute($left: 10px, $top: 140px);

      [lang='en'] & {
        width: auto;
      }
    }

    .hero-motion-panel {
      // @include absolute($top: -30px, $left: 10px);
      transform-origin: left center;
      transform: scale(0.9);
    }

    .hero__tit {
      font-size: 30px;
    }

    .hero__desc {
      font-size: 16px;

      .line-brake {
        display: inline;
      }
    }
  } // > 1175

  @media (max-width: 1050px) {
    .hero--roro__center {
      padding-left: 30px;
      padding-right: 30px;
    }

    .hero-motion-panel-wrap {
      // @include debug;
      position: static;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
    }

    .hero-motion-panel {
      // @include debug;
      transform-origin: center center;
    }

    .hero__text-section {
      text-align: right;
    }

    .hero__tit br {
      display: none;
    }

    .hero__desc {
      padding-right: 0;
    }
  }

  @include respond-to($bp-mobile) {
    padding-bottom: 88px;
    padding-top: 60px;

    .hero__tit {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: bold;
    }

    .hero__desc {
      font-size: 16px;
    }

    [lang='en'] &__btns {
      display: flex;
      justify-content: flex-end;
    }
  } // > 960

  @media (max-width: 670px) {
    .hero-motion-panel-wrap {
      margin-top: -100px;
      margin-bottom: -80px;
    }

    .hero-motion-panel {
      transform: translateX(10px) scale(0.5);
    }
  }
} // hero roro

// function
// ====================================================
.function--roro {
  padding-top: 200px;
  padding-bottom: 280px;
  background: center top / contain no-repeat url($path-img+'bg-function-top-roro.png'),
    center bottom / contain no-repeat url($path-img+'bg-architecture-roro.png');

  // function desc
  .function__desc .line-brake {
    display: block;
  }

  .wizard__path {
    margin-top: 189px;

    .path-list {
      margin-right: 50px;
    }

    @media ($query-mobile) {
      .path-list {
        margin-right: 0;
      }
    }
  } // wizard__path

  .wizard__path li:last-child,
  .wizard__network li:last-child {
    margin-top: 12px;
  }

  .wizard__network .slide-panel {
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.35);
  }

  .wizard__path .slide-btns {
    left: percent(750px, $width-max - 20);
  }

  .wizard__network .slide-btns {
    left: 0;
  }

  .slide-btns {
    @include absolute($top: 50%);
    transform: translateY(-50%);
  }

  .btn-arrow--blue-prev,
  .btn-arrow--green-prev {
    margin-right: 20px;
  }

  .slide-panel--wizard {
    padding: 65px 50px 37px;
    background-image: url($path-img+'step-bg-roro.png');

    &::after {
      @include icon-setting($ic-wizard-panel-roro-2x);
    }
  }

  .slide-panel--network {
    padding: 59px 50px 40px;
    background-image: url($path-img+'bg-network2x.png');

    &::before {
      @include absolute($top: 36px);
      @include icon-setting($ico-cloud-2x);
      transform: translateX(-50%);
      box-shadow: 0 2px 10px 0 rgba(50, 62, 81, 0.3);
    }
  }

  .prd-info-wrap:last-of-type .prd-info {
    padding-top: 114px;
  }

  @include respond-to($bp-mobile) {
    padding: 120px 0;

    .wizard__path .slide-btns,
    .wizard__network .slide-btns {
      position: static;
      margin-top: 50px;
    }

    .wizard__path {
      margin-top: 120px;
      margin-bottom: -40px;
    }

    .wizard__network {
      margin-bottom: -60px;
    }

    .prd-info-wrap:last-of-type .prd-info {
      padding-top: 0;
    }
  }

  @media (max-width: 640px) {
    .function__desc .line-brake {
      display: none;
    }

    .wizard__path .slide-btns,
    .wizard__network .slide-btns {
      margin-top: 80px;
    }
  }
} // function roro
