/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$btn-arrow-down-2x-x: 0px;
$btn-arrow-down-2x-y: 0px;
$btn-arrow-down-2x-offset-x: 0px;
$btn-arrow-down-2x-offset-y: 0px;
$btn-arrow-down-2x-width: 48px;
$btn-arrow-down-2x-height: 48px;
$btn-arrow-down-2x-total-width: 338px;
$btn-arrow-down-2x-total-height: 9732px;
$btn-arrow-down-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-arrow-down-2x: 0px 0px 0px 0px 48px 48px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-arrow-down-sm-2x-x: 0px;
$btn-arrow-down-sm-2x-y: 58px;
$btn-arrow-down-sm-2x-offset-x: 0px;
$btn-arrow-down-sm-2x-offset-y: -58px;
$btn-arrow-down-sm-2x-width: 40px;
$btn-arrow-down-sm-2x-height: 42px;
$btn-arrow-down-sm-2x-total-width: 338px;
$btn-arrow-down-sm-2x-total-height: 9732px;
$btn-arrow-down-sm-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-arrow-down-sm-2x: 0px 58px 0px -58px 40px 42px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-close-gray2x-x: 0px;
$btn-close-gray2x-y: 110px;
$btn-close-gray2x-offset-x: 0px;
$btn-close-gray2x-offset-y: -110px;
$btn-close-gray2x-width: 50px;
$btn-close-gray2x-height: 50px;
$btn-close-gray2x-total-width: 338px;
$btn-close-gray2x-total-height: 9732px;
$btn-close-gray2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-close-gray2x: 0px 110px 0px -110px 50px 50px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-go-top-hover-x: 0px;
$btn-go-top-hover-y: 170px;
$btn-go-top-hover-offset-x: 0px;
$btn-go-top-hover-offset-y: -170px;
$btn-go-top-hover-width: 124px;
$btn-go-top-hover-height: 124px;
$btn-go-top-hover-total-width: 338px;
$btn-go-top-hover-total-height: 9732px;
$btn-go-top-hover-image: '../images/sprite/sprite-icons-2x.png';
$btn-go-top-hover: 0px 170px 0px -170px 124px 124px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-go-top-m-x: 0px;
$btn-go-top-m-y: 304px;
$btn-go-top-m-offset-x: 0px;
$btn-go-top-m-offset-y: -304px;
$btn-go-top-m-width: 94px;
$btn-go-top-m-height: 94px;
$btn-go-top-m-total-width: 338px;
$btn-go-top-m-total-height: 9732px;
$btn-go-top-m-image: '../images/sprite/sprite-icons-2x.png';
$btn-go-top-m: 0px 304px 0px -304px 94px 94px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-go-top-x: 0px;
$btn-go-top-y: 408px;
$btn-go-top-offset-x: 0px;
$btn-go-top-offset-y: -408px;
$btn-go-top-width: 124px;
$btn-go-top-height: 124px;
$btn-go-top-total-width: 338px;
$btn-go-top-total-height: 9732px;
$btn-go-top-image: '../images/sprite/sprite-icons-2x.png';
$btn-go-top: 0px 408px 0px -408px 124px 124px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-pic-enlarge-2x-x: 0px;
$btn-pic-enlarge-2x-y: 542px;
$btn-pic-enlarge-2x-offset-x: 0px;
$btn-pic-enlarge-2x-offset-y: -542px;
$btn-pic-enlarge-2x-width: 68px;
$btn-pic-enlarge-2x-height: 68px;
$btn-pic-enlarge-2x-total-width: 338px;
$btn-pic-enlarge-2x-total-height: 9732px;
$btn-pic-enlarge-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-pic-enlarge-2x: 0px 542px 0px -542px 68px 68px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-pic-enlarge-roro-2x-x: 0px;
$btn-pic-enlarge-roro-2x-y: 620px;
$btn-pic-enlarge-roro-2x-offset-x: 0px;
$btn-pic-enlarge-roro-2x-offset-y: -620px;
$btn-pic-enlarge-roro-2x-width: 68px;
$btn-pic-enlarge-roro-2x-height: 68px;
$btn-pic-enlarge-roro-2x-total-width: 338px;
$btn-pic-enlarge-roro-2x-total-height: 9732px;
$btn-pic-enlarge-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-pic-enlarge-roro-2x: 0px 620px 0px -620px 68px 68px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-pic-shrink-2x-x: 0px;
$btn-pic-shrink-2x-y: 698px;
$btn-pic-shrink-2x-offset-x: 0px;
$btn-pic-shrink-2x-offset-y: -698px;
$btn-pic-shrink-2x-width: 72px;
$btn-pic-shrink-2x-height: 70px;
$btn-pic-shrink-2x-total-width: 338px;
$btn-pic-shrink-2x-total-height: 9732px;
$btn-pic-shrink-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-pic-shrink-2x: 0px 698px 0px -698px 72px 70px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-pic-shrink-roro-2x-x: 0px;
$btn-pic-shrink-roro-2x-y: 778px;
$btn-pic-shrink-roro-2x-offset-x: 0px;
$btn-pic-shrink-roro-2x-offset-y: -778px;
$btn-pic-shrink-roro-2x-width: 70px;
$btn-pic-shrink-roro-2x-height: 70px;
$btn-pic-shrink-roro-2x-total-width: 338px;
$btn-pic-shrink-roro-2x-total-height: 9732px;
$btn-pic-shrink-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-pic-shrink-roro-2x: 0px 778px 0px -778px 70px 70px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-video-start-2x-x: 0px;
$btn-video-start-2x-y: 858px;
$btn-video-start-2x-offset-x: 0px;
$btn-video-start-2x-offset-y: -858px;
$btn-video-start-2x-width: 260px;
$btn-video-start-2x-height: 260px;
$btn-video-start-2x-total-width: 338px;
$btn-video-start-2x-total-height: 9732px;
$btn-video-start-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-video-start-2x: 0px 858px 0px -858px 260px 260px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$btn-video-start-hover-2x-x: 0px;
$btn-video-start-hover-2x-y: 1128px;
$btn-video-start-hover-2x-offset-x: 0px;
$btn-video-start-hover-2x-offset-y: -1128px;
$btn-video-start-hover-2x-width: 260px;
$btn-video-start-hover-2x-height: 260px;
$btn-video-start-hover-2x-total-width: 338px;
$btn-video-start-hover-2x-total-height: 9732px;
$btn-video-start-hover-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-video-start-hover-2x: 0px 1128px 0px -1128px 260px 260px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$footer-logo-2x-x: 0px;
$footer-logo-2x-y: 1398px;
$footer-logo-2x-offset-x: 0px;
$footer-logo-2x-offset-y: -1398px;
$footer-logo-2x-width: 338px;
$footer-logo-2x-height: 102px;
$footer-logo-2x-total-width: 338px;
$footer-logo-2x-total-height: 9732px;
$footer-logo-2x-image: '../images/sprite/sprite-icons-2x.png';
$footer-logo-2x: 0px 1398px 0px -1398px 338px 102px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$gnb-favicon-roro-2x-x: 0px;
$gnb-favicon-roro-2x-y: 1510px;
$gnb-favicon-roro-2x-offset-x: 0px;
$gnb-favicon-roro-2x-offset-y: -1510px;
$gnb-favicon-roro-2x-width: 68px;
$gnb-favicon-roro-2x-height: 68px;
$gnb-favicon-roro-2x-total-width: 338px;
$gnb-favicon-roro-2x-total-height: 9732px;
$gnb-favicon-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$gnb-favicon-roro-2x: 0px 1510px 0px -1510px 68px 68px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$gnb-favicon-wasup-2x-x: 0px;
$gnb-favicon-wasup-2x-y: 1588px;
$gnb-favicon-wasup-2x-offset-x: 0px;
$gnb-favicon-wasup-2x-offset-y: -1588px;
$gnb-favicon-wasup-2x-width: 68px;
$gnb-favicon-wasup-2x-height: 68px;
$gnb-favicon-wasup-2x-total-width: 338px;
$gnb-favicon-wasup-2x-total-height: 9732px;
$gnb-favicon-wasup-2x-image: '../images/sprite/sprite-icons-2x.png';
$gnb-favicon-wasup-2x: 0px 1588px 0px -1588px 68px 68px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-blue-2x-x: 0px;
$ic-arrow-blue-2x-y: 1666px;
$ic-arrow-blue-2x-offset-x: 0px;
$ic-arrow-blue-2x-offset-y: -1666px;
$ic-arrow-blue-2x-width: 54px;
$ic-arrow-blue-2x-height: 54px;
$ic-arrow-blue-2x-total-width: 338px;
$ic-arrow-blue-2x-total-height: 9732px;
$ic-arrow-blue-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-blue-2x: 0px 1666px 0px -1666px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-blue2x-x: 0px;
$ic-arrow-blue2x-y: 1730px;
$ic-arrow-blue2x-offset-x: 0px;
$ic-arrow-blue2x-offset-y: -1730px;
$ic-arrow-blue2x-width: 54px;
$ic-arrow-blue2x-height: 54px;
$ic-arrow-blue2x-total-width: 338px;
$ic-arrow-blue2x-total-height: 9732px;
$ic-arrow-blue2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-blue2x: 0px 1730px 0px -1730px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-bluedark2x-x: 0px;
$ic-arrow-bluedark2x-y: 1794px;
$ic-arrow-bluedark2x-offset-x: 0px;
$ic-arrow-bluedark2x-offset-y: -1794px;
$ic-arrow-bluedark2x-width: 54px;
$ic-arrow-bluedark2x-height: 54px;
$ic-arrow-bluedark2x-total-width: 338px;
$ic-arrow-bluedark2x-total-height: 9732px;
$ic-arrow-bluedark2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-bluedark2x: 0px 1794px 0px -1794px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-bluelight2x-x: 0px;
$ic-arrow-bluelight2x-y: 1858px;
$ic-arrow-bluelight2x-offset-x: 0px;
$ic-arrow-bluelight2x-offset-y: -1858px;
$ic-arrow-bluelight2x-width: 54px;
$ic-arrow-bluelight2x-height: 54px;
$ic-arrow-bluelight2x-total-width: 338px;
$ic-arrow-bluelight2x-total-height: 9732px;
$ic-arrow-bluelight2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-bluelight2x: 0px 1858px 0px -1858px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-bluesky2x-x: 0px;
$ic-arrow-bluesky2x-y: 1922px;
$ic-arrow-bluesky2x-offset-x: 0px;
$ic-arrow-bluesky2x-offset-y: -1922px;
$ic-arrow-bluesky2x-width: 54px;
$ic-arrow-bluesky2x-height: 54px;
$ic-arrow-bluesky2x-total-width: 338px;
$ic-arrow-bluesky2x-total-height: 9732px;
$ic-arrow-bluesky2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-bluesky2x: 0px 1922px 0px -1922px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-brown-2x-x: 0px;
$ic-arrow-brown-2x-y: 1986px;
$ic-arrow-brown-2x-offset-x: 0px;
$ic-arrow-brown-2x-offset-y: -1986px;
$ic-arrow-brown-2x-width: 54px;
$ic-arrow-brown-2x-height: 54px;
$ic-arrow-brown-2x-total-width: 338px;
$ic-arrow-brown-2x-total-height: 9732px;
$ic-arrow-brown-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-brown-2x: 0px 1986px 0px -1986px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-brown2x-x: 0px;
$ic-arrow-brown2x-y: 2050px;
$ic-arrow-brown2x-offset-x: 0px;
$ic-arrow-brown2x-offset-y: -2050px;
$ic-arrow-brown2x-width: 54px;
$ic-arrow-brown2x-height: 54px;
$ic-arrow-brown2x-total-width: 338px;
$ic-arrow-brown2x-total-height: 9732px;
$ic-arrow-brown2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-brown2x: 0px 2050px 0px -2050px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-sora2x-x: 0px;
$ic-arrow-sora2x-y: 2114px;
$ic-arrow-sora2x-offset-x: 0px;
$ic-arrow-sora2x-offset-y: -2114px;
$ic-arrow-sora2x-width: 54px;
$ic-arrow-sora2x-height: 54px;
$ic-arrow-sora2x-total-width: 338px;
$ic-arrow-sora2x-total-height: 9732px;
$ic-arrow-sora2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-sora2x: 0px 2114px 0px -2114px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-white-2x-x: 0px;
$ic-arrow-white-2x-y: 2178px;
$ic-arrow-white-2x-offset-x: 0px;
$ic-arrow-white-2x-offset-y: -2178px;
$ic-arrow-white-2x-width: 54px;
$ic-arrow-white-2x-height: 54px;
$ic-arrow-white-2x-total-width: 338px;
$ic-arrow-white-2x-total-height: 9732px;
$ic-arrow-white-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-white-2x: 0px 2178px 0px -2178px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-white2x-x: 0px;
$ic-arrow-white2x-y: 2242px;
$ic-arrow-white2x-offset-x: 0px;
$ic-arrow-white2x-offset-y: -2242px;
$ic-arrow-white2x-width: 54px;
$ic-arrow-white2x-height: 54px;
$ic-arrow-white2x-total-width: 338px;
$ic-arrow-white2x-total-height: 9732px;
$ic-arrow-white2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-white2x: 0px 2242px 0px -2242px 54px 54px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-bell-2x-x: 0px;
$ic-bell-2x-y: 2306px;
$ic-bell-2x-offset-x: 0px;
$ic-bell-2x-offset-y: -2306px;
$ic-bell-2x-width: 100px;
$ic-bell-2x-height: 100px;
$ic-bell-2x-total-width: 338px;
$ic-bell-2x-total-height: 9732px;
$ic-bell-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-bell-2x: 0px 2306px 0px -2306px 100px 100px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-checklist-2x-x: 0px;
$ic-checklist-2x-y: 2416px;
$ic-checklist-2x-offset-x: 0px;
$ic-checklist-2x-offset-y: -2416px;
$ic-checklist-2x-width: 40px;
$ic-checklist-2x-height: 40px;
$ic-checklist-2x-total-width: 338px;
$ic-checklist-2x-total-height: 9732px;
$ic-checklist-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-checklist-2x: 0px 2416px 0px -2416px 40px 40px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-checklist-green-x: 0px;
$ic-checklist-green-y: 2466px;
$ic-checklist-green-offset-x: 0px;
$ic-checklist-green-offset-y: -2466px;
$ic-checklist-green-width: 40px;
$ic-checklist-green-height: 40px;
$ic-checklist-green-total-width: 338px;
$ic-checklist-green-total-height: 9732px;
$ic-checklist-green-image: '../images/sprite/sprite-icons-2x.png';
$ic-checklist-green: 0px 2466px 0px -2466px 40px 40px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-critical-2x-x: 0px;
$ic-critical-2x-y: 2516px;
$ic-critical-2x-offset-x: 0px;
$ic-critical-2x-offset-y: -2516px;
$ic-critical-2x-width: 58px;
$ic-critical-2x-height: 58px;
$ic-critical-2x-total-width: 338px;
$ic-critical-2x-total-height: 9732px;
$ic-critical-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-critical-2x: 0px 2516px 0px -2516px 58px 58px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-download-white-2x-x: 0px;
$ic-download-white-2x-y: 2584px;
$ic-download-white-2x-offset-x: 0px;
$ic-download-white-2x-offset-y: -2584px;
$ic-download-white-2x-width: 48px;
$ic-download-white-2x-height: 48px;
$ic-download-white-2x-total-width: 338px;
$ic-download-white-2x-total-height: 9732px;
$ic-download-white-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-download-white-2x: 0px 2584px 0px -2584px 48px 48px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-function1-2x-x: 0px;
$ic-function1-2x-y: 2642px;
$ic-function1-2x-offset-x: 0px;
$ic-function1-2x-offset-y: -2642px;
$ic-function1-2x-width: 118px;
$ic-function1-2x-height: 104px;
$ic-function1-2x-total-width: 338px;
$ic-function1-2x-total-height: 9732px;
$ic-function1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function1-2x: 0px 2642px 0px -2642px 118px 104px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-function1-roro-2x-x: 0px;
$ic-function1-roro-2x-y: 2756px;
$ic-function1-roro-2x-offset-x: 0px;
$ic-function1-roro-2x-offset-y: -2756px;
$ic-function1-roro-2x-width: 148px;
$ic-function1-roro-2x-height: 148px;
$ic-function1-roro-2x-total-width: 338px;
$ic-function1-roro-2x-total-height: 9732px;
$ic-function1-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function1-roro-2x: 0px 2756px 0px -2756px 148px 148px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-function2-2x-x: 0px;
$ic-function2-2x-y: 2914px;
$ic-function2-2x-offset-x: 0px;
$ic-function2-2x-offset-y: -2914px;
$ic-function2-2x-width: 100px;
$ic-function2-2x-height: 110px;
$ic-function2-2x-total-width: 338px;
$ic-function2-2x-total-height: 9732px;
$ic-function2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function2-2x: 0px 2914px 0px -2914px 100px 110px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-function2-roro-2x-x: 0px;
$ic-function2-roro-2x-y: 3034px;
$ic-function2-roro-2x-offset-x: 0px;
$ic-function2-roro-2x-offset-y: -3034px;
$ic-function2-roro-2x-width: 150px;
$ic-function2-roro-2x-height: 148px;
$ic-function2-roro-2x-total-width: 338px;
$ic-function2-roro-2x-total-height: 9732px;
$ic-function2-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function2-roro-2x: 0px 3034px 0px -3034px 150px 148px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-function3-2x-x: 0px;
$ic-function3-2x-y: 3192px;
$ic-function3-2x-offset-x: 0px;
$ic-function3-2x-offset-y: -3192px;
$ic-function3-2x-width: 106px;
$ic-function3-2x-height: 94px;
$ic-function3-2x-total-width: 338px;
$ic-function3-2x-total-height: 9732px;
$ic-function3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function3-2x: 0px 3192px 0px -3192px 106px 94px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-function3-roro-2x-x: 0px;
$ic-function3-roro-2x-y: 3296px;
$ic-function3-roro-2x-offset-x: 0px;
$ic-function3-roro-2x-offset-y: -3296px;
$ic-function3-roro-2x-width: 148px;
$ic-function3-roro-2x-height: 148px;
$ic-function3-roro-2x-total-width: 338px;
$ic-function3-roro-2x-total-height: 9732px;
$ic-function3-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function3-roro-2x: 0px 3296px 0px -3296px 148px 148px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-key-2x-x: 0px;
$ic-key-2x-y: 3454px;
$ic-key-2x-offset-x: 0px;
$ic-key-2x-offset-y: -3454px;
$ic-key-2x-width: 56px;
$ic-key-2x-height: 58px;
$ic-key-2x-total-width: 338px;
$ic-key-2x-total-height: 9732px;
$ic-key-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-key-2x: 0px 3454px 0px -3454px 56px 58px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-warning-2x-x: 0px;
$ic-warning-2x-y: 3522px;
$ic-warning-2x-offset-x: 0px;
$ic-warning-2x-offset-y: -3522px;
$ic-warning-2x-width: 56px;
$ic-warning-2x-height: 58px;
$ic-warning-2x-total-width: 338px;
$ic-warning-2x-total-height: 9732px;
$ic-warning-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-warning-2x: 0px 3522px 0px -3522px 56px 58px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-why1-roro-2x-x: 0px;
$ic-why1-roro-2x-y: 3590px;
$ic-why1-roro-2x-offset-x: 0px;
$ic-why1-roro-2x-offset-y: -3590px;
$ic-why1-roro-2x-width: 200px;
$ic-why1-roro-2x-height: 200px;
$ic-why1-roro-2x-total-width: 338px;
$ic-why1-roro-2x-total-height: 9732px;
$ic-why1-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-why1-roro-2x: 0px 3590px 0px -3590px 200px 200px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-why2-roro-2x-x: 0px;
$ic-why2-roro-2x-y: 3800px;
$ic-why2-roro-2x-offset-x: 0px;
$ic-why2-roro-2x-offset-y: -3800px;
$ic-why2-roro-2x-width: 200px;
$ic-why2-roro-2x-height: 200px;
$ic-why2-roro-2x-total-width: 338px;
$ic-why2-roro-2x-total-height: 9732px;
$ic-why2-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-why2-roro-2x: 0px 3800px 0px -3800px 200px 200px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-why3-roro-2x-x: 0px;
$ic-why3-roro-2x-y: 4010px;
$ic-why3-roro-2x-offset-x: 0px;
$ic-why3-roro-2x-offset-y: -4010px;
$ic-why3-roro-2x-width: 200px;
$ic-why3-roro-2x-height: 200px;
$ic-why3-roro-2x-total-width: 338px;
$ic-why3-roro-2x-total-height: 9732px;
$ic-why3-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-why3-roro-2x: 0px 4010px 0px -4010px 200px 200px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-wizard-panel-2x-x: 0px;
$ic-wizard-panel-2x-y: 4220px;
$ic-wizard-panel-2x-offset-x: 0px;
$ic-wizard-panel-2x-offset-y: -4220px;
$ic-wizard-panel-2x-width: 150px;
$ic-wizard-panel-2x-height: 150px;
$ic-wizard-panel-2x-total-width: 338px;
$ic-wizard-panel-2x-total-height: 9732px;
$ic-wizard-panel-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-wizard-panel-2x: 0px 4220px 0px -4220px 150px 150px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ic-wizard-panel-roro-2x-x: 0px;
$ic-wizard-panel-roro-2x-y: 4380px;
$ic-wizard-panel-roro-2x-offset-x: 0px;
$ic-wizard-panel-roro-2x-offset-y: -4380px;
$ic-wizard-panel-roro-2x-width: 144px;
$ic-wizard-panel-roro-2x-height: 144px;
$ic-wizard-panel-roro-2x-total-width: 338px;
$ic-wizard-panel-roro-2x-total-height: 9732px;
$ic-wizard-panel-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-wizard-panel-roro-2x: 0px 4380px 0px -4380px 144px 144px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-arrow-down-white-2x-x: 0px;
$ico-arrow-down-white-2x-y: 4534px;
$ico-arrow-down-white-2x-offset-x: 0px;
$ico-arrow-down-white-2x-offset-y: -4534px;
$ico-arrow-down-white-2x-width: 48px;
$ico-arrow-down-white-2x-height: 48px;
$ico-arrow-down-white-2x-total-width: 338px;
$ico-arrow-down-white-2x-total-height: 9732px;
$ico-arrow-down-white-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-arrow-down-white-2x: 0px 4534px 0px -4534px 48px 48px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-benefit1-2x-x: 0px;
$ico-benefit1-2x-y: 4592px;
$ico-benefit1-2x-offset-x: 0px;
$ico-benefit1-2x-offset-y: -4592px;
$ico-benefit1-2x-width: 200px;
$ico-benefit1-2x-height: 200px;
$ico-benefit1-2x-total-width: 338px;
$ico-benefit1-2x-total-height: 9732px;
$ico-benefit1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-benefit1-2x: 0px 4592px 0px -4592px 200px 200px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-benefit2-2x-x: 0px;
$ico-benefit2-2x-y: 4802px;
$ico-benefit2-2x-offset-x: 0px;
$ico-benefit2-2x-offset-y: -4802px;
$ico-benefit2-2x-width: 200px;
$ico-benefit2-2x-height: 200px;
$ico-benefit2-2x-total-width: 338px;
$ico-benefit2-2x-total-height: 9732px;
$ico-benefit2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-benefit2-2x: 0px 4802px 0px -4802px 200px 200px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-benefit3-2x-x: 0px;
$ico-benefit3-2x-y: 5012px;
$ico-benefit3-2x-offset-x: 0px;
$ico-benefit3-2x-offset-y: -5012px;
$ico-benefit3-2x-width: 200px;
$ico-benefit3-2x-height: 200px;
$ico-benefit3-2x-total-width: 338px;
$ico-benefit3-2x-total-height: 9732px;
$ico-benefit3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-benefit3-2x: 0px 5012px 0px -5012px 200px 200px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-case-roro-x: 0px;
$ico-case-roro-y: 5222px;
$ico-case-roro-offset-x: 0px;
$ico-case-roro-offset-y: -5222px;
$ico-case-roro-width: 160px;
$ico-case-roro-height: 140px;
$ico-case-roro-total-width: 338px;
$ico-case-roro-total-height: 9732px;
$ico-case-roro-image: '../images/sprite/sprite-icons-2x.png';
$ico-case-roro: 0px 5222px 0px -5222px 160px 140px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-case-wasup-2x-x: 0px;
$ico-case-wasup-2x-y: 5372px;
$ico-case-wasup-2x-offset-x: 0px;
$ico-case-wasup-2x-offset-y: -5372px;
$ico-case-wasup-2x-width: 160px;
$ico-case-wasup-2x-height: 140px;
$ico-case-wasup-2x-total-width: 338px;
$ico-case-wasup-2x-total-height: 9732px;
$ico-case-wasup-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-case-wasup-2x: 0px 5372px 0px -5372px 160px 140px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-check-blue-x: 0px;
$ico-check-blue-y: 5522px;
$ico-check-blue-offset-x: 0px;
$ico-check-blue-offset-y: -5522px;
$ico-check-blue-width: 48px;
$ico-check-blue-height: 48px;
$ico-check-blue-total-width: 338px;
$ico-check-blue-total-height: 9732px;
$ico-check-blue-image: '../images/sprite/sprite-icons-2x.png';
$ico-check-blue: 0px 5522px 0px -5522px 48px 48px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-check-white-x: 0px;
$ico-check-white-y: 5580px;
$ico-check-white-offset-x: 0px;
$ico-check-white-offset-y: -5580px;
$ico-check-white-width: 48px;
$ico-check-white-height: 48px;
$ico-check-white-total-width: 338px;
$ico-check-white-total-height: 9732px;
$ico-check-white-image: '../images/sprite/sprite-icons-2x.png';
$ico-check-white: 0px 5580px 0px -5580px 48px 48px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-close-white2x-x: 0px;
$ico-close-white2x-y: 5638px;
$ico-close-white2x-offset-x: 0px;
$ico-close-white2x-offset-y: -5638px;
$ico-close-white2x-width: 40px;
$ico-close-white2x-height: 40px;
$ico-close-white2x-total-width: 338px;
$ico-close-white2x-total-height: 9732px;
$ico-close-white2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-close-white2x: 0px 5638px 0px -5638px 40px 40px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-close-x: 0px;
$ico-close-y: 5688px;
$ico-close-offset-x: 0px;
$ico-close-offset-y: -5688px;
$ico-close-width: 40px;
$ico-close-height: 40px;
$ico-close-total-width: 338px;
$ico-close-total-height: 9732px;
$ico-close-image: '../images/sprite/sprite-icons-2x.png';
$ico-close: 0px 5688px 0px -5688px 40px 40px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-cloud-2x-x: 0px;
$ico-cloud-2x-y: 5738px;
$ico-cloud-2x-offset-x: 0px;
$ico-cloud-2x-offset-y: -5738px;
$ico-cloud-2x-width: 142px;
$ico-cloud-2x-height: 142px;
$ico-cloud-2x-total-width: 338px;
$ico-cloud-2x-total-height: 9732px;
$ico-cloud-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-cloud-2x: 0px 5738px 0px -5738px 142px 142px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-download-2x-x: 0px;
$ico-download-2x-y: 5890px;
$ico-download-2x-offset-x: 0px;
$ico-download-2x-offset-y: -5890px;
$ico-download-2x-width: 32px;
$ico-download-2x-height: 32px;
$ico-download-2x-total-width: 338px;
$ico-download-2x-total-height: 9732px;
$ico-download-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-download-2x: 0px 5890px 0px -5890px 32px 32px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-download-brown-2x-x: 0px;
$ico-download-brown-2x-y: 5932px;
$ico-download-brown-2x-offset-x: 0px;
$ico-download-brown-2x-offset-y: -5932px;
$ico-download-brown-2x-width: 32px;
$ico-download-brown-2x-height: 32px;
$ico-download-brown-2x-total-width: 338px;
$ico-download-brown-2x-total-height: 9732px;
$ico-download-brown-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-download-brown-2x: 0px 5932px 0px -5932px 32px 32px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-download-brown-hover-2x-x: 0px;
$ico-download-brown-hover-2x-y: 5974px;
$ico-download-brown-hover-2x-offset-x: 0px;
$ico-download-brown-hover-2x-offset-y: -5974px;
$ico-download-brown-hover-2x-width: 32px;
$ico-download-brown-hover-2x-height: 32px;
$ico-download-brown-hover-2x-total-width: 338px;
$ico-download-brown-hover-2x-total-height: 9732px;
$ico-download-brown-hover-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-download-brown-hover-2x: 0px 5974px 0px -5974px 32px 32px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-download-hover-2x-x: 0px;
$ico-download-hover-2x-y: 6016px;
$ico-download-hover-2x-offset-x: 0px;
$ico-download-hover-2x-offset-y: -6016px;
$ico-download-hover-2x-width: 32px;
$ico-download-hover-2x-height: 32px;
$ico-download-hover-2x-total-width: 338px;
$ico-download-hover-2x-total-height: 9732px;
$ico-download-hover-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-download-hover-2x: 0px 6016px 0px -6016px 32px 32px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-faq-2x-x: 0px;
$ico-faq-2x-y: 6058px;
$ico-faq-2x-offset-x: 0px;
$ico-faq-2x-offset-y: -6058px;
$ico-faq-2x-width: 108px;
$ico-faq-2x-height: 108px;
$ico-faq-2x-total-width: 338px;
$ico-faq-2x-total-height: 9732px;
$ico-faq-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-faq-2x: 0px 6058px 0px -6058px 108px 108px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-faq-on-x: 0px;
$ico-faq-on-y: 6176px;
$ico-faq-on-offset-x: 0px;
$ico-faq-on-offset-y: -6176px;
$ico-faq-on-width: 160px;
$ico-faq-on-height: 160px;
$ico-faq-on-total-width: 338px;
$ico-faq-on-total-height: 9732px;
$ico-faq-on-image: '../images/sprite/sprite-icons-2x.png';
$ico-faq-on: 0px 6176px 0px -6176px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-faq-x: 0px;
$ico-faq-y: 6346px;
$ico-faq-offset-x: 0px;
$ico-faq-offset-y: -6346px;
$ico-faq-width: 160px;
$ico-faq-height: 160px;
$ico-faq-total-width: 338px;
$ico-faq-total-height: 9732px;
$ico-faq-image: '../images/sprite/sprite-icons-2x.png';
$ico-faq: 0px 6346px 0px -6346px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-file-2x-m-x: 0px;
$ico-file-2x-m-y: 6516px;
$ico-file-2x-m-offset-x: 0px;
$ico-file-2x-m-offset-y: -6516px;
$ico-file-2x-m-width: 52px;
$ico-file-2x-m-height: 52px;
$ico-file-2x-m-total-width: 338px;
$ico-file-2x-m-total-height: 9732px;
$ico-file-2x-m-image: '../images/sprite/sprite-icons-2x.png';
$ico-file-2x-m: 0px 6516px 0px -6516px 52px 52px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-file-2x-x: 0px;
$ico-file-2x-y: 6578px;
$ico-file-2x-offset-x: 0px;
$ico-file-2x-offset-y: -6578px;
$ico-file-2x-width: 56px;
$ico-file-2x-height: 58px;
$ico-file-2x-total-width: 338px;
$ico-file-2x-total-height: 9732px;
$ico-file-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-file-2x: 0px 6578px 0px -6578px 56px 58px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-head-phone-on-x: 0px;
$ico-head-phone-on-y: 6646px;
$ico-head-phone-on-offset-x: 0px;
$ico-head-phone-on-offset-y: -6646px;
$ico-head-phone-on-width: 160px;
$ico-head-phone-on-height: 160px;
$ico-head-phone-on-total-width: 338px;
$ico-head-phone-on-total-height: 9732px;
$ico-head-phone-on-image: '../images/sprite/sprite-icons-2x.png';
$ico-head-phone-on: 0px 6646px 0px -6646px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-head-phone-x: 0px;
$ico-head-phone-y: 6816px;
$ico-head-phone-offset-x: 0px;
$ico-head-phone-offset-y: -6816px;
$ico-head-phone-width: 160px;
$ico-head-phone-height: 160px;
$ico-head-phone-total-width: 338px;
$ico-head-phone-total-height: 9732px;
$ico-head-phone-image: '../images/sprite/sprite-icons-2x.png';
$ico-head-phone: 0px 6816px 0px -6816px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-inquiry1-2x-x: 0px;
$ico-inquiry1-2x-y: 6986px;
$ico-inquiry1-2x-offset-x: 0px;
$ico-inquiry1-2x-offset-y: -6986px;
$ico-inquiry1-2x-width: 160px;
$ico-inquiry1-2x-height: 160px;
$ico-inquiry1-2x-total-width: 338px;
$ico-inquiry1-2x-total-height: 9732px;
$ico-inquiry1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-inquiry1-2x: 0px 6986px 0px -6986px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-inquiry2-2x-x: 0px;
$ico-inquiry2-2x-y: 7156px;
$ico-inquiry2-2x-offset-x: 0px;
$ico-inquiry2-2x-offset-y: -7156px;
$ico-inquiry2-2x-width: 160px;
$ico-inquiry2-2x-height: 160px;
$ico-inquiry2-2x-total-width: 338px;
$ico-inquiry2-2x-total-height: 9732px;
$ico-inquiry2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-inquiry2-2x: 0px 7156px 0px -7156px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-inquiry3-2x-x: 0px;
$ico-inquiry3-2x-y: 7326px;
$ico-inquiry3-2x-offset-x: 0px;
$ico-inquiry3-2x-offset-y: -7326px;
$ico-inquiry3-2x-width: 160px;
$ico-inquiry3-2x-height: 160px;
$ico-inquiry3-2x-total-width: 338px;
$ico-inquiry3-2x-total-height: 9732px;
$ico-inquiry3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-inquiry3-2x: 0px 7326px 0px -7326px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-inquiry3-hover-2x-x: 0px;
$ico-inquiry3-hover-2x-y: 7496px;
$ico-inquiry3-hover-2x-offset-x: 0px;
$ico-inquiry3-hover-2x-offset-y: -7496px;
$ico-inquiry3-hover-2x-width: 160px;
$ico-inquiry3-hover-2x-height: 160px;
$ico-inquiry3-hover-2x-total-width: 338px;
$ico-inquiry3-hover-2x-total-height: 9732px;
$ico-inquiry3-hover-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-inquiry3-hover-2x: 0px 7496px 0px -7496px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-mail-on-x: 0px;
$ico-mail-on-y: 7666px;
$ico-mail-on-offset-x: 0px;
$ico-mail-on-offset-y: -7666px;
$ico-mail-on-width: 160px;
$ico-mail-on-height: 160px;
$ico-mail-on-total-width: 338px;
$ico-mail-on-total-height: 9732px;
$ico-mail-on-image: '../images/sprite/sprite-icons-2x.png';
$ico-mail-on: 0px 7666px 0px -7666px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-mail-x: 0px;
$ico-mail-y: 7836px;
$ico-mail-offset-x: 0px;
$ico-mail-offset-y: -7836px;
$ico-mail-width: 160px;
$ico-mail-height: 160px;
$ico-mail-total-width: 338px;
$ico-mail-total-height: 9732px;
$ico-mail-image: '../images/sprite/sprite-icons-2x.png';
$ico-mail: 0px 7836px 0px -7836px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-note-2x-m-x: 0px;
$ico-note-2x-m-y: 8006px;
$ico-note-2x-m-offset-x: 0px;
$ico-note-2x-m-offset-y: -8006px;
$ico-note-2x-m-width: 52px;
$ico-note-2x-m-height: 52px;
$ico-note-2x-m-total-width: 338px;
$ico-note-2x-m-total-height: 9732px;
$ico-note-2x-m-image: '../images/sprite/sprite-icons-2x.png';
$ico-note-2x-m: 0px 8006px 0px -8006px 52px 52px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-note-2x-x: 0px;
$ico-note-2x-y: 8068px;
$ico-note-2x-offset-x: 0px;
$ico-note-2x-offset-y: -8068px;
$ico-note-2x-width: 56px;
$ico-note-2x-height: 56px;
$ico-note-2x-total-width: 338px;
$ico-note-2x-total-height: 9732px;
$ico-note-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-note-2x: 0px 8068px 0px -8068px 56px 56px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-subscript1-2x-x: 0px;
$ico-subscript1-2x-y: 8134px;
$ico-subscript1-2x-offset-x: 0px;
$ico-subscript1-2x-offset-y: -8134px;
$ico-subscript1-2x-width: 160px;
$ico-subscript1-2x-height: 160px;
$ico-subscript1-2x-total-width: 338px;
$ico-subscript1-2x-total-height: 9732px;
$ico-subscript1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-subscript1-2x: 0px 8134px 0px -8134px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-subscript2-2x-x: 0px;
$ico-subscript2-2x-y: 8304px;
$ico-subscript2-2x-offset-x: 0px;
$ico-subscript2-2x-offset-y: -8304px;
$ico-subscript2-2x-width: 160px;
$ico-subscript2-2x-height: 160px;
$ico-subscript2-2x-total-width: 338px;
$ico-subscript2-2x-total-height: 9732px;
$ico-subscript2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-subscript2-2x: 0px 8304px 0px -8304px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-subscript3-2x-x: 0px;
$ico-subscript3-2x-y: 8474px;
$ico-subscript3-2x-offset-x: 0px;
$ico-subscript3-2x-offset-y: -8474px;
$ico-subscript3-2x-width: 160px;
$ico-subscript3-2x-height: 160px;
$ico-subscript3-2x-total-width: 338px;
$ico-subscript3-2x-total-height: 9732px;
$ico-subscript3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-subscript3-2x: 0px 8474px 0px -8474px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-support-hover3-2x-x: 0px;
$ico-support-hover3-2x-y: 8644px;
$ico-support-hover3-2x-offset-x: 0px;
$ico-support-hover3-2x-offset-y: -8644px;
$ico-support-hover3-2x-width: 160px;
$ico-support-hover3-2x-height: 160px;
$ico-support-hover3-2x-total-width: 338px;
$ico-support-hover3-2x-total-height: 9732px;
$ico-support-hover3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-support-hover3-2x: 0px 8644px 0px -8644px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-support3-2x-x: 0px;
$ico-support3-2x-y: 8814px;
$ico-support3-2x-offset-x: 0px;
$ico-support3-2x-offset-y: -8814px;
$ico-support3-2x-width: 160px;
$ico-support3-2x-height: 160px;
$ico-support3-2x-total-width: 338px;
$ico-support3-2x-total-height: 9732px;
$ico-support3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-support3-2x: 0px 8814px 0px -8814px 160px 160px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-video-2x-m-x: 0px;
$ico-video-2x-m-y: 8984px;
$ico-video-2x-m-offset-x: 0px;
$ico-video-2x-m-offset-y: -8984px;
$ico-video-2x-m-width: 52px;
$ico-video-2x-m-height: 52px;
$ico-video-2x-m-total-width: 338px;
$ico-video-2x-m-total-height: 9732px;
$ico-video-2x-m-image: '../images/sprite/sprite-icons-2x.png';
$ico-video-2x-m: 0px 8984px 0px -8984px 52px 52px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$ico-video-2x-x: 0px;
$ico-video-2x-y: 9046px;
$ico-video-2x-offset-x: 0px;
$ico-video-2x-offset-y: -9046px;
$ico-video-2x-width: 56px;
$ico-video-2x-height: 56px;
$ico-video-2x-total-width: 338px;
$ico-video-2x-total-height: 9732px;
$ico-video-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-video-2x: 0px 9046px 0px -9046px 56px 56px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$why1-2x-x: 0px;
$why1-2x-y: 9112px;
$why1-2x-offset-x: 0px;
$why1-2x-offset-y: -9112px;
$why1-2x-width: 200px;
$why1-2x-height: 200px;
$why1-2x-total-width: 338px;
$why1-2x-total-height: 9732px;
$why1-2x-image: '../images/sprite/sprite-icons-2x.png';
$why1-2x: 0px 9112px 0px -9112px 200px 200px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$why2-2x-x: 0px;
$why2-2x-y: 9322px;
$why2-2x-offset-x: 0px;
$why2-2x-offset-y: -9322px;
$why2-2x-width: 200px;
$why2-2x-height: 200px;
$why2-2x-total-width: 338px;
$why2-2x-total-height: 9732px;
$why2-2x-image: '../images/sprite/sprite-icons-2x.png';
$why2-2x: 0px 9322px 0px -9322px 200px 200px 338px 9732px '../images/sprite/sprite-icons-2x.png';
$why3-2x-x: 0px;
$why3-2x-y: 9532px;
$why3-2x-offset-x: 0px;
$why3-2x-offset-y: -9532px;
$why3-2x-width: 200px;
$why3-2x-height: 200px;
$why3-2x-total-width: 338px;
$why3-2x-total-height: 9732px;
$why3-2x-image: '../images/sprite/sprite-icons-2x.png';
$why3-2x: 0px 9532px 0px -9532px 200px 200px 338px 9732px '../images/sprite/sprite-icons-2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
