// ==============================
// top banner
// ==============================
.banner {
  display: none;
  min-width: 360px;
  font-size: rem(15px);
  background: url($path-img+'bg-banner.png') center top repeat-y;
  background-size: cover;

  .l-center {
    @include relative;
    padding-left: 0;
    padding-right: 0;
  }

  &.is-active {
    display: block;
  }

  button {
    // @include debug;
    @include absolute($top: 50%, $right: 10px);
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: #323e51;

    &::after {
      @include size(20px);

      margin-left: 8px;
      background: url($path-img + 'btn-close-banner.png') center center no-repeat;
      background-size: 20px;
      content: '';
    }
  }

  &:hover p {
    text-decoration: underline;
  }

  &__m-img {
    display: none;
  }
  &__pc-img {
    display: inline-block;
  }
}

@media (max-width: 720px) {

  .banner {
    &__m-img {
      display: inline-block;
    }

    &__pc-img {
      display: none;
    }

    button {
      // @include debug;

      top: 13.1147541%;
      transform: none;

      span {
        display: none;
      }

      &::after {
        margin-left: 0;
      }
    } // button
  } // .banner

}
