.case {
  @include debug;
  padding-bottom: 180px;

  .center-box {
    @include debug;
  }

  &__tit,
  &__desc {
    text-align: right;
  }

  &__tit {
    @include section-heading();
  }

  &__desc {
    @include section-desc() {
      margin-bottom: 40px;
    }
  }
}
