// =======================================
// experience
// =======================================
.experience {
  $this: &;

  font-size: 32px;
  line-height: 1.6;
  background-color: #e5e9ed;
  color: #687381;

  em {
    color: #3d5399;
  }

  &__desc {
    margin-top: 20px;
    font-size: rem(20px);
  }

  .btn-round.is-big {
    @include size(null, 48px);
    border-radius: 5px 10px;
    font-size: 20px;
    line-height: 48px;
  }

  .btn-round:nth-of-type(2) {
    margin-left: 20px;
  }

  .l-center {
    // @include debug;
    @include relative;
  }

  @media ($query-mobile) {
    .experience__desc {
      margin-top: 10px;
    }

    .experience__btns {
      display: inline-block;
      margin-top: 40px;
    }
  }
} // experience

// ==========================================================
// modifier
// ==========================================================

// index
// ==========================================================
.experience--index {
  padding-top: 160px;

  .l-center {
    padding-bottom: 94px;
    border-bottom: 1px solid rgba(107, 117, 129, 0.3);
  } // .l-center

  .btn-round {
    @include absolute($top: 4px, $right: 10px);
  }

  @media ($query-mobile) {
    padding-top: 96px;
    text-align: center;

    .l-center {
      // line-height: 1.7;
      padding: 0 30px 69px;
    }

    p:nth-child(1) {
      font-size: 20px;
    }

    p:nth-child(2) {
      margin-top: 10px;
      font-size: 16px;

      .line-brake {
        display: none;
      }
    }

    .btn-round {
      position: static;
      margin-top: 40px;
    }
  } // > 900

  @media (max-width: 640px) {
    .line-brake {
      display: block;
    }
  }
} // index

// wasup
// ==========================================================
.experience--wasup {
  padding-top: 150px;

  .l-center {
    padding-bottom: 150px;
    border-bottom: solid 1px rgba(107, 117, 129, 0.3);
  }

  .btn-round--white2 {
    color: #2557a0;
  }

  @include respond-to(1144px) {
    text-align: center;
    
    p {
      margin-bottom: 20px;
    }

    .l-left,
    .l-right {
      float: none;
    }
  }

  @media ($query-mobile) {
    padding-top: 80px;
    // font-size: 20px;

    .l-center {
      padding-bottom: 80px;
    }


    p {
      margin-bottom: 0;
      font-size: 20px;
    }
  } // medial
} // wasup

// roro
// ================================================
.experience--roro {
  padding-top: 161px;

  .l-center {
    padding-bottom: 149px;
    border-bottom: 1px solid rgba(107, 117, 129, 0.3);
  }

  .btn-round--white2 {
    color: #2557a0;
    min-width: 130px;
  }

  @media (max-width: 1030px) {
    .l-center {
      padding: 0 30px 80px;
      text-align: center;
    }

    .l-left,
    .l-right {
      float: none;
    }
  } // > 1030

  @media ($query-mobile) {
    padding-top: 90px;

    p {
      // line-height: 1.7;
      font-size: 20px;
    }
  }
} // roro

// support
// =============================================
.experience--support {
  margin-top: -20px;
  padding-top: 124px;
  padding-bottom: 103px;
  background-color: #1e2839;
  color: #d5dffa;

  em {
    color: #7c97e7;
  }

  .btn-round {
    @include absolute($top: 4px, $right: percent(10px, $width-max - 20));
  }

  @media (max-width: 1070px) {
    [lang='en'] & {
      text-align: center;

      .btn-round {
        position: static;
        margin-top: 40px;
      }
    }
  }

  @media ($query-mobile) {
    padding-top: 80px;
    padding-bottom: 70px;
    font-size: 20px;
    text-align: center;

    .experience__desc {
      margin-bottom: 40px;
      font-size: 16px;
    }

    .btn-round {
      position: static;
    }

  } // > 960
}
