.feature {
  padding-bottom: 202px;
  line-height: 2;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
  }

  &__tit {
    // @include debug;
    @include relative;
    display: inline-block;
    padding-right: 44px;
    font-size: rem(20px);

    .ico-arrow {
      @include absolute($top: 13px, $right: 0px);
      transform: rotate(224deg);
    }
  }

  &__desc {
    // @include debug;
    font-size: rem(32px);
    text-align: right;

    em {
      color: #a86247;
    }
  }

  // .feature .prd-info 재정의
  .prd-info {
    margin-top: -22px;
  }

  .prd-info dt::before {
    background-color: transparent;
    border-radius: 0;
  }

  .prd-info dd {
    font-size: rem(16px);
    line-height: 2.13;
  }

  .prd-info li {
    @include relative;
    padding-left: 28px;

    &::before {
      @include absolute($top: 8px, $left: 0);
      // @include sprite($ic-checklist);
      content: '';
      display: inline-block;
    }
  }
}

// feature animation
// 길이가 길어져서 하단으로 분리
.feature__anim-section {
  // @include debug;
  text-align: right;
}

.feature__pic {
  // @include debug;
  @include size(622px, null);
  display: inline-block;
}

.feature__btn-wrap {
  margin-bottom: 40px;
}

.feature__btn {
  @include size(111px, 34px);
  padding: 0;
  border: 0;
  border-radius: 22px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);

  // play stop button
  @each $type in (play, stop) {
    &--#{$type} {
      @include background-image($path-img + 'feature-' + $type + '-btn.svg');
    }
  }
}

// animation 되는 row 전체를 감싸는 클래스
// 감싸진 요소들이 있기 때문에 하위 선택자로 속성 추가
.feature__rows-wrap {
  & > div:nth-child(n + 1) {
    margin-top: 8px;
  }
}

.feature__row-img {
  @include size(100%, 64px);
  @include background-image($path-img + 'feature-un-selected-2x.png');
  background-size: 100%;
  border-radius: 10px;

  &.selected {
    background-image: url($path-img+'feature-selected-2x.png');
  }
}

// .feature__anim-single : 혼자 있는 요소
// .feature__anim-double: 안에 두개가 있는 요소를 감싼 요소
.feature__anim-single,
.feature__anim-double {
  transform-origin: right center;
  border-radius: 10px;
}

.feature__anim-double {
  @include relative;
  @include size(null, 64px);

  .feature__row-img {
    @include absolute($top: 0, $left: 0);
    animation: {
      duration: 1s;
    }

    &.front {
      z-index: 2;
    }
  }

  &.selected {
    box-shadow: 2px 10px 20px 0 rgba(50, 62, 81, 0.3);
  }
}
