.footer {
  padding-top: 187px;
  padding-bottom: 99px;
  background-color: #f6f9fc;
  font-size: rem(14px);
  color: $color-light-black;
}

// =======================================
// experience
// =======================================
.experience {
  // @include debug;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 155px;
  border-bottom: 1px solid #e5e9ed;
  font-size: 32px;
  line-height: 1.5;

  em {
    color: #3d5399;
  }

  a {
    $colors: (#3d5399, #fff);

    // @include size(130px, 42px);
    display: inline-block;
    padding: 12px 21px;
    font-size: rem(18px);
    box-shadow: 0 3px 8px 0 rgba(50, 62, 81, 0.25);

    @for $i from 1 through length($colors) {
      &:nth-of-type(#{$i}) {
        @if $i == 1 {
          margin-right: 20px;
          color: nth($colors, 2);
        } @else {
          color: nth($colors, 1);
        }
        background-color: nth($colors, $i);
      }
    }
  } // a
} // experience

// =======================================
// site map
// =======================================
.site-map {
  // @include debug;
  padding-top: 80px;

  &__row {
    // @include debug;
    display: flex;

    &:nth-of-type(1) {
      margin-bottom: 14px;
      justify-content: space-between;

      .footer__logo {
        @include size(169px, 51px);
        margin-bottom: 50px;
      }

      .select:nth-of-type(1) {
        margin-bottom: 16px;
      }
    } // 1

    &:nth-of-type(2) {
      margin-bottom: 92px;
      justify-content: flex-end;

      .service:nth-of-type(1) {
        margin-right: 20px;
      }
    }
  }
}

// =======================================
// service
// =======================================
.service {
  // @include debug;
  @include size(180px, null);
  line-height: 2.43;

  &__tit {
    font-weight: 500;
    line-height: 2;
    color: $color-dark-black;
  }

  a {
    // @include debug;
    display: block;
    color: inherit;
  }
}

// =======================================
// copyright
// =======================================
.copyright {
  // @include debug;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    font-weight: 500;
    color: $color-dark-black;
  }

  .sns__link {
    @include size(28px);

    display: inline-block;
    overflow: hidden;
    border-radius: 50%;

    &:nth-child(n + 2) {
      margin-left: 9px;
    }
  }
}
