.gnb {
  &,
  &__list {
    display: flex;
  }

  color: $color-light-black;
  font-size: rem(16px);

  // list--main, list--etc 공통 설정

  a {
    // @include debug;
    display: block;
    color: inherit;
  }

  &__link {
    // @include debug;
    padding: 10px 18px;
  }

  // list--main 설정
  &__list--main {
    li:first-child {
      position: relative;

      &:hover .drop-down-wrap,
      &.is-active .drop-down-wrap {
        display: block;
      }

      .gnb__link {
        padding: 10px 40px 10px 20px;
      }
    } // first child
  } // gnb main

  // gnb__list--etc 설정
  &-etc {
    margin-left: 20px;
    margin-right: 10px;
  }

  [lang] {
    // @include debug;
    @include relative;
    padding: 10px 38px 10px 18px;
    border: 0;
    background-color: transparent;
    font-family: inherit;
  }

  // 제품, KOR 링크는 drop down 아이콘을 갖는다.
  .has-drop-down {
    @include relative;

    &::after {
      @include absolute($top: 50%, $right: 10px);
      @include sprite2x($btn-arrow-down-2x);
      @include size(nth($btn-arrow-down-2x, 5) / 2, nth($btn-arrow-down-2x, 6) / 2);
      transform: translateY(-50%);
      content: '';
    }
  } // has-drop-down
}

.drop-down-wrap {
  // @include debug(tomato);
  @include absolute($top: 100%, $left: -46px);
  @include size(666px, null);
  z-index: 5;
  display: none;
  padding-top: 14px;
}

.drop-down {
  $color-drop-down: #6b7581;
  display: flex;
  justify-content: space-between;
  padding: 43px 30px 37px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  font-size: rem(14px);
  color: $color-drop-down;

  &::before {
    @include absolute($top: -4px, $left: 78px);
    content: '';
    border: {
      style: solid;
      color: transparent transparent #fff;
      width: 10px;
    }
  }

  &__content {
    // @include debug;
    @include relative;
    padding-left: (22px + 34px);

    &::before {
      @include absolute($top: 0, $left: 0);
      @include size(34px);
      content: '';
      border-radius: 50%;
    }

    $colors: ((#51a1f0 #2557a0), (#faa61e #a86247));

    @for $i from 1 through length($colors) {
      &:nth-of-type(#{$i}) {
        @if $i == 1 {
          margin-right: 28px;
          padding-right: 48px;
          border-right: 1px solid #dde0e4;
        }

        &::before {
          @if $i == 1 {
            @include sprite2x($gnb-favicon-roro-2x);
          } @else {
            @include sprite2x($gnb-favicon-wasup-2x);
          }
          transform-origin: left top;
        }

        a:hover {
          $list-color: nth($colors, $i);
          color: nth($list-color, 2);
          font-weight: 500;
        }
      }
    } // for
  }

  &__tit {
    margin-bottom: 10px;
    padding-top: 9px;
    font-size: rem(17px);
    font-weight: 700;
    color: $color-dark-black;
  }
  &__desc {
    margin-bottom: 32px;
    font-size: rem(16px);
    color: inherit;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    color: inherit;

    li {
      width: 50%;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      // @include debug;
      @include size(80px, null);
      line-height: 24px;
    }
  }
}
