.guide {
  // @include debug;
  @include background-image($path-img + 'guide-bg.svg', $y: top, $color: #fffdfa);
  background-size: contain;

  &-video {
    margin-bottom: 30px;
  } // video

  &__poster {
    // @include debug(gray);
    @include relative;
    @include size(804px, null);
    display: block;
    margin-bottom: 132px;
    border-radius: 18px;
    -webkit-box-shadow: -22px 29px 26px 5px rgba(50, 62, 81, 0.3);
    box-shadow: -22px 29px 26px 5px rgba(50, 62, 81, 0.3);
  }

  &__play-btn {
    @include absolute($left: 50%, $top: 50%);
    @include sprite2x($btn-video-start-2x);
    @include size(nth($btn-video-start-2x, 5) / 2, nth($btn-video-start-2x, 6) / 2);
    display: inline-block;
    transform: translateX(-50%) translateY(-50%);
    padding: 0;
    border: 0;
    background-color: transparent;

    &:hover {
      @include sprite2x($btn-video-start-hover-2x);
    }
  }

  &__desc {
    text-align: right;
  }

  &__tit {
    @include section-heading(#a86247);
    @include relative;
    padding-left: 44px;
    display: inline-block;
  }

  .ico-arrow {
    @include absolute($left: 0);
    transform: rotate(90deg);
  }

  p {
    font-size: rem(32px);
    text-align: right;
  }
}
