.pollicy {
  $width: 1180px;
  @include size(percent($width, $width-max), null);
  margin-left: auto;
  margin-right: auto;
  padding: 80px percent(80px, $width);
  background-color: #fff;
  line-height: 1.6;
  font-size: rem(16px);
  border-radius: 32px 10px;
  box-shadow: 0 4px 12px 0 rgba(54, 63, 47, 0.15);

  &-top {
    .sub-tit {
      color: #d5dffa;
      font-size: rem(28px);
    }
  }

  &-btm {
    .sub-bottom & {
      margin-top: -507px;
    }
  }

  .l-10 {
    padding-left: 10px;
  }

  .l-15 {
    padding-left: 15px;
  }
  .l-20 {
    padding-left: 20px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .mb-10 {
    margin-bottom: 10px;
  }

  .tit {
    font-weight: 500;
  }

  .sm {
    font-size: rem(14px);
  }
}

.sub-tit.franch-tit {
  line-height: 1.4;
}
