.subscription {
  &__tit {
    @include section-heading(#3d5399){
      margin-bottom: 30px;
    }
  }

  &__desc {
    @include section-desc($color-light-black) {
      margin-bottom: 80px;

      em {
        color: #788ece;
      }
    }
  }

  &__cards {
    @include debug;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    $width-card: 557px;

    @include relative;
    @include size(percent($width-card, $width-max), null);
    padding: 90px 0 31px 180px;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    
    &::before {
      @include absolute($top: 40px, $left: percent(30px, $width-card));
      @include size(110px);
      border-radius: 50%;
      content: '';
    } // before

    $color-card-icons: (#788ece, #edaa43);
    @for $i from 1 through length($color-card-icons) {
      &:nth-child(#{$i})::before {
        background-color: nth($color-card-icons, $i);
      }
    }

    dt {
      margin-bottom: 36px;
      font-size: rem(24px);
      font-weight: 500;
      color: #3d5399;
    }

    dd {
      font-size: rem(16px);
      color: #687381;
      line-height: 2.06;
    }

    li:nth-child(n + 2) {
      margin-top: 12px;
    }
  } // card
}
