.footer {
  padding-bottom: 70px;
  background-color: #e5e9ed;
  font-size: rem(14px);
  color: #687381;

  .l-center {
    padding-top: 80px;

    @media (max-width: 640px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__locale {
    @media (max-width: 1000px) {
      display: none;
    }
  }

  .footer__logo {
    @include size(169px, 51px);
    margin-bottom: 50px;
  }

  // Footer__row
  &__row {
    display: flex;

    &:nth-of-type(1) {
      // @include debug;
      @include relative;
      margin-bottom: 70px;

      @media (max-width: 640px) {
        margin-bottom: 50px;
      }
    } // 1

    &:nth-of-type(2) {
      margin-bottom: 50px;
      justify-content: flex-end;

      @media (max-width: 900px) {
        justify-content: flex-start;
        margin-bottom: 30px;
      }
    }
  } // Footer__row

  &__row--top {
    // @include debug;
    justify-content: space-between;
  }

  &__services,
  &__service-row {
    display: flex;
  }

  &__services {
    @media (max-width: 1000px) {
      width: 100%;
      justify-content: center;
    }
    @media (max-width: 640px) {
      display: block;
    }
  } // services

  &__service-row {
    width: 100%;

    @media (max-width: 640px) {
      &:nth-of-type(2) {
        margin-top: 30px;
      }
    }
  } // service row
}

// =======================================
// service
// =======================================
.service {
  // @include debug;
  @include size(200px, null);
  line-height: 2.43;

  &__tit {
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 2;
    color: $color-default;
  }

  a {
    // @include debug;
    display: block;
    color: inherit;
  }

  &__list {
    color: #687381;
    line-height: 2.43;
  }

  &--partner {
    margin-top: 40px;
  }

  &--contact {
    @include size(180px, null);
  }

  @media (max-width: 1000px) {
    width: 50%;

    &--partner {
      width: 100%;
    }
  }
}

// =======================================
// custom select
// =======================================
.select {
  $this: &;
  $bg-color: #fff;

  @include relative;
  color: $color-light-black;
  background-color: $bg-color;
  box-shadow: 0 2px 6px 0 rgba(50, 62, 81, 0.1);
  line-height: 34px;
  border-radius: 3px 8px;
  cursor: pointer;

  &__current-text,
  a {
    display: block;
    padding-left: 16px;
  }
  // common end

  &__current-text {
    @include relative;
    width: 166px;

    &::after {
      @include absolute($top: 50%, $right: 10px);
      @include sprite2x($btn-arrow-down-2x);
      @include size(24px);
      transform: translateY(-50%);
      content: '';

      .select.is-active & {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__list {
    // @include debug;
    @include absolute($left: 0, $bottom: 100%);
    @include size(100%, null);
    min-width: 192px;
    display: none;
    z-index: 5;
    margin-bottom: 4px;
    padding: 10px 0;
    border-radius: 6px;
    font-size: rem(13px);
    background-color: $bg-color;
    line-height: 40px;

    .select.is-active & {
      display: block;
    }

    a {
      // @include debug;
      color: #6b7581;

      &:hover {
        color: $color-default;
      }
    }
  }
}

.address {
  max-width: 252px;
  font-size: rem(13px);
  line-height: 28px;
}

// =======================================
// copyright
// =======================================
.copyright {
  line-height: 28px;
  justify-content: space-between;

  p {
    @media (max-width: 900px) {
    }
  }

  &__link {
    display: inline-block;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-weight: bold;

    a {
      color: $color-default;
    }
  }

  @media (max-width: 900px) {
    display: block;

    p {
      margin-bottom: 40px;
    }

    &__link {
      display: block;
      margin-bottom: 16px;

      &:nth-of-type(2) {
        margin-bottom: 50px;
      }
    }
  }
}

// sns
// =======================================
.footer__sns {
  $size: 28px;

  display: inline-flex;
  justify-content: space-between;
  .sns__link {
    // @include debug;
    @include size($size);

    overflow: hidden;
    border-radius: 50%;
    background-repeat: no-repeat;
    background: url($path-img+'ir-ico-sns-2x.png') no-repeat;
    background-size: (284px / 2) (56px / 2);

    &:nth-child(n + 2) {
      margin-left: 9px;
    }
  }

  $sns-names: ('facebook', 'youtube', 'in', 'github', 'blog');

  @each $name in $sns-names {
    .sns__link--#{$name} {
      $idx: index($sns-names, $name) - 1;
      $idx: if($idx == 0, 0, -($idx * $size + 2));

      // @debug $idx;
      background-position: $idx top;
    }
  }

  @media (max-width: 900px) {
    .sns__link {
      @include size(40px);
      background-size: cover;

      &:nth-child(n + 2) {
        margin-left: 16px;
      }

      &--youtube {
        background-position: -40px 0;
      }
      &--in {
        background-position: -162px 0;
      }
      &--github {
        background-position: -122px 0;
      }
      &--blog {
        background-position: -81px 0;
      }
    }
  }
}

// =======================================
// btn go top
// =======================================
.btn-go-top {
  @include fixed($right: 40px, $bottom: 30px);
  @include size(124px);
  @include icon-setting($btn-go-top);
  padding: 0;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 2px 12px 0 rgba(50, 62, 81, 0.2);

  @media (min-width: 961px) {
    &:hover {
      @include sprite-position2x($btn-go-top-hover);
    }
  }

  @media ($query-mobile) {
    @include icon-setting($btn-go-top-m);
    right: 20px;
  }
}
