// ==============================
// gnb
// ==============================
.gnb {
  display: flex;
  font-size: rem(16px);

  &__logo {
    @include size(79px, null);
    display: none;
  } // logo

  &__list {
    display: flex;

    &:nth-of-type(2) {
      margin-left: 20px;
    }
  } // list

  &__item {
    &.has-callout {
      @include relative;
    }
  } // .gnb__item

  &__link {
    display: block;
    padding: 10px 18px;
    letter-spacing: 0.01px;
    cursor: pointer;

    &:hover,
    &--current {
      font-weight: bold;
    }

    // 2depth menu를 갖는 링크
    // ====================================
    .has-callout & {
      cursor: pointer;
      padding: 10px 40px 10px 20px;
    } // has-callout .gnb__link

    .has-callout &::after {
      @include icon-setting($btn-arrow-down-2x);
      @include absolute($top: 50%);
      transform: translateY(-50%);
      content: '';

      .header--white &,
      .header--blue & {
        @include sprite-position2x($ico-arrow-down-white-2x);
      }
    } // .has-callout .gnb__link::after

    .has-callout.is-active &::after {
      transform: translateY(-50%) rotate(180deg);
    }
  } // link

  // mobile btn
  &__close {
    @include absolute($top: 16px, $right: 25px);
    // @include size(18px);
    @include icon-setting($btn-close-gray2x);
    display: none;
    padding: 0;
    background-color: transparent;
    border: 0;
  } // .gnb__close (btn)

  // mobile
  // ========================================
  @include respond-to(960px) {
    @include fixed($top: 0, $left: 100%);
    @include size(100%, 100%);
    overflow-y: auto;
    display: block;
    z-index: 10;
    padding: 16px 16px 0;
    background-color: #fff;
    color: #687381;
    font-size: 16px;

    .show-gnb & {
      transform: translateX(-100%);
    }

    &__logo {
      display: block;
      margin-bottom: 24px;
    }

    &__list {
      // @include debug;
      display: block;
      margin-left: 0;
      padding: 0 10px;

      &:nth-of-type(2) {
        margin-left: 0;
      }
    } // .gnb__list

    &__item {
      border-bottom: 1px solid rgba(107, 117, 129, 0.3);

      &.has-callout {
        border-bottom-width: 0;
      }
    } // .gnb__item

    &__link {
      // @include debug;
      @include size(null, 50px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      &::after {
        @include icon-setting($ic-arrow-blue-2x);
        display: inline-block;
        transform: scale(0.5) rotate(90deg);
        content: '';
      }

      // 2depth menu를 갖는 링크
      .has-callout & {
        padding: 0;
        border-bottom: 1px solid rgba(107, 117, 129, 0.3);

        &::after {
          position: static;
          display: inline-block;
          transform: none;
        }

        .header--white &::after,
        .header--blue &::after {
          @include sprite-position($btn-arrow-down-2x);
        }
      } // .has-callout .gnb__link

      .has-callout.is-active &::after {
        transform: translateY(0) rotate(180deg);
      }
    } // .gnb__link

    &__close {
      display: inline-block;
    }
  } // respond
} // gnb
