// ==============================
// gnb
// ==============================
.gnb {
  &,
  &__list {
    display: flex;
  }

  font-size: rem(16px);

  &__logo {
    @include size(79px, null);
    display: none;
  }

  // list--main, list--etc 공통 설정
  &__link,
  .callout__link {
    display: block;
  }

  a {
    color: inherit;
  }

  &__link {
    // @include debug;
    padding: 10px 18px;
    letter-spacing: 0.01px;

    &:hover,
    &--current {
      font-weight: bold;
    }
  }

  // gnb__list--etc 설정
  &-etc {
    margin-left: 20px;
  }

  &__close {
    @include absolute($top: 16px, $right: 25px);
    // @include size(18px);
    @include icon-setting($btn-close-gray2x);
    display: none;
    padding: 0;
    background-color: transparent;
    border: 0;
  }
  // mobile =======================================================
  @media ($query-mobile) {
    // @include debug;
    @include fixed($top: 0, $left: 100%);
    @include size(100%, 100%);
    overflow-y: auto;
    display: block;
    z-index: 10;
    padding: 16px 16px 0;
    background-color: #fff;
    color: #687381;
    font-size: 16px;

    .show-gnb & {
      transform: translateX(-100%);
    }

    &__logo {
      display: block;
    }

    &__list {
      // @include debug;
      display: block;
      margin-left: 0;
      padding: 0 10px;

      &--main {
        margin-top: 24px;
      }
    }

    &__item {
      border-bottom: 1px solid rgba(107, 117, 129, 0.3);

      .gnb__list--main &:first-child,
      .gnb-etc &:last-child {
        border-bottom: 0;
      }
    }

    &__link {
      // @include debug;
      @include size(null, 50px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      &::after {
        @include icon-setting($ic-arrow-blue-2x);
        display: inline-block;
        transform: scale(0.5) rotate(90deg);
        content: '';
      }
    }

    &__close {
      display: inline-block;
    }
  } // > 960
}

// 제품, KOR 링크는 drop down 아이콘을 갖는다.
// ====================================================================================
.has-callout {
  @include relative;

  .gnb__link {
    cursor: pointer;
    padding: 10px 40px 10px 20px;

    &::after {
      // @include debug;
      @include icon-setting($btn-arrow-down-2x);
      @include absolute($top: 50%);
      transform: translateY(-50%);
      content: '';

      .header--white &,
      .header--blue & {
        // @debug &;
        @include sprite-position2x($ico-arrow-down-white-2x);
      }
    }
  } // gnb link

  // pc / mobile 에서 hover 없이
  // click event (.is-active) 시에만
  // 2depth 활성화
  &.is-active .gnb__link::after {
    transform: translateY(-50%) rotate(180deg);
  }
  &.is-active .callout {
    display: block;
  }

  @media ($query-mobile) {
    .gnb__link {
      padding: 0;
      border-bottom: 1px solid rgba(107, 117, 129, 0.3);

      &::after {
        position: static;
        display: inline-block;
        transform: none;
      }

      .header--white &::after,
      .header--blue &::after {
        @include sprite-position($btn-arrow-down-2x);
      }
    } // gnb__link

    &.is-active .gnb__link::after {
      transform: translateY(0) rotate(180deg);
    }
  } // > 960
} // has-drop-down

// lang
// ====================================================================================
.lang__list {
  @include absolute($top: 100%, $left: 0);
  @include size(100%, null);

  display: none;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    display: block;
  }

  button {
    @include size(100%, null);
    display: block;
    padding: 10px 0;
    border: 0;
    text-align: center;
    background-color: transparent;

    &:hover {
      background-color: #ddd;
    }
  }

  .is-active & {
    display: block;
  }

  @media ($query-mobile) {
    // box-shadow
  }
} // list
