.wrap {
  // @include debug;
  @include relative;
  min-width: 360px;
}

.l-center {
  // @include debug;
  @include relative;
  max-width: $width-max;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $bp-mobile + 1) {
    padding: 0 10px;
  }

  @media ($query-mobile) {
    padding: 0 15px;
  }
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.has-gutter {
  padding-left: percent(10px, $width-max);
  padding-right: percent(10px, $width-max);
}
