.hamburger {
  @include relative;
  @include size(24px);
  display: none;
  padding: 0;
  border: 0;
  background-color: transparent;

  span,
  &::before,
  &::after {
    @include absolute($top: 50%, $left: 0);
    @include size(100%, 3px);
    transform: translateY(-50%);
    background-color: #fff;
  }

  &::before,
  &::after {
    content: '';
  }

  &::before {
    margin-top: -10px;
  }

  &::after {
    margin-top: 10px;
  }

  // mobile
  @include respond-to(960px) {
    display: inline-block;
  }
}
