// =====================================================================
// rounded btn
// =====================================================================
.btn-round {
  @include size(null, 42px);
  display: inline-block;
  padding: 0 21px;
  border-radius: 3px 8px;
  border: 0;
  box-shadow: 0 3px 8px 0 rgba(50, 62, 81, 0.3);
  text-align: center;
  font-size: rem(18px);
  font-weight: 500;
  line-height: 42px;
  color: #fff;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(50, 62, 81, 0.3);
  }

  // theme
  // (modifier (normal color, hover color))
  // ==========================================
  $list-btn-color: (
    ('white' (#fff #dee6fc)),
    ('white2' (#fff #cfe2f1)),
    ('lite-blue' (#469bf0 #2a82da)),
    ('deep-blue' (#324c99 #253f8b)),
    ('navy' (#333e54 #2c374b)),
    ('dark-navy' (#323e51 #222c3d)),
    ('apblue' (#2557a0 #1b4178)),
    ('yellow' (#edaa43 #ea9711)),
    ('luepurple' (#3b5198 #344b95))
  );

  @each $theme in $list-btn-color {
    $key: nth($theme, 1);
    $default: nth(nth($theme, 2), 1);
    $hover: nth(nth($theme, 2), 2);

    &--#{$key} {
      background-color: $default;

      &:hover {
        background-color: $hover;
      }
    }
  } // loop

  // mobile
  // ==========================================
  @include respond-to(960px) {
    font-size: rem(16px);
  }
} // btn-round

// =====================================================================
// guide btn
// =====================================================================
.btn-play {
  @include icon-setting($btn-video-start-2x);
  @include absolute($left: 50%, $top: 50%);

  display: inline-block;
  transform: translateX(-50%) translateY(-50%);
  padding: 0;
  border: 0;
  background-color: transparent;

  &:hover {
    @include sprite2x($btn-video-start-hover-2x);
  }
}

// =====================================================================
// architecture popup btn
// =====================================================================
.btn-pic {
  @include absolute($bottom: -35px, $right: -35px);
  @include size(70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: -2px 3px 10px 0 rgba(156, 86, 59, 0.2);

  .popup-architecture &:hover,
  .popup-architecture &:active {
    background-color: #ffe6bf;
  }

  &::before {
    display: block;
    content: '';
  }

  &--shrink::before {
    .popup-architecture & {
      @include icon-setting($btn-pic-shrink-2x);
    }
  }

  &--shrink-roro::before {
    @include icon-setting($btn-pic-shrink-roro-2x);
  }

  &--shrink-roro:hover,
  &--shrink-roro:active {
    background-color: #c4dff4;
  }
}

// =====================================================================
// wasup, roro slick prev, next
// =====================================================================
.btn-arrow {
  @include background-image($path-img + 'ir-btn-roro-arrows.png', $x: left);
  @include size(50px);
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-size: (650px / 2) (330px / 2);
  box-shadow: 0 2px 7px 0 #323e5133;

  // =======================================

  // x: 공통 값
  // y: 색마다 값이 바뀜
  // =======================================
  $theme-slick: (
    'x': (
      'next': -166px -55px,
      'prev': -110px 0
    ),
    'colors': (
      'green': -60px,
      'blue': 0,
      'puple': -115px
    )
  );

  @each $color, $posY in map-get($theme-slick, 'colors') {
    @each $key, $valuesX in map-get($theme-slick, 'x') {
      &--#{$color}-#{$key} {
        background-position: nth($valuesX, 1) $posY;

        &.slick-disabled {
          background-position: nth($valuesX, 2) $posY;
        }
      }
    } // loop
  } // loop
}
