// =======================================
// ico check
// =======================================
.ico-check {
  @include relative;
  padding-left: 30px;

  &::before {
    @include absolute($top: 8px, $left: 0);
    @include size(20px);
    content: '';

    [lang='en'] & {
      top: 4px;
    }
  }

  &--normal::before {
    @include background-image($path-img + 'ic-checklist.svg', $repeat: no-repeat, $x: center, $y: top, $color: null);
  }

  &--blue::before {
    @include background-image(
      $path-img + 'ic-checklist-blue.svg',
      $repeat: no-repeat,
      $x: center,
      $y: top,
      $color: null
    );
  }

  &--orange::before {
    @include background-image(
      $path-img + 'ic-checklist-orange.svg',
      $repeat: no-repeat,
      $x: center,
      $y: top,
      $color: null
    );
  }

  &--green::before {
    @include icon-setting($ic-checklist-green);
  }

  &--skyblue::before {
    @include background-image(
      $path-img + 'ic-checklist-skyblue.svg',
      $repeat: no-repeat,
      $x: center,
      $y: top,
      $color: null
    );
  }

  &--skyblue2::before {
    @include background-image(
      $path-img + 'ic-checklist-skyblue2.svg',
      $repeat: no-repeat,
      $x: center,
      $y: top,
      $color: null
    );
  }
  &--darkblue::before {
    @include background-image(
      $path-img + 'ic-checklist-darkblue.svg',
      $repeat: no-repeat,
      $x: center,
      $y: top,
      $color: null
    );
  }

  @media ($query-mobile) {
    &::before {
      @include size(16px);
      top: 2px;
    }
  }
}
