// =======================================
// ico check
// =======================================
.ico-check {
  @include relative;
  padding-left: 30px;

  &::before {
    @include absolute($top: 8px, $left: 0);
    @include size(20px);
    content: '';
    background: {
      repeat: no-repeat;
      size: contain;
    }

    [lang='en'] & {
      top: 4px;
    }
  }

  &--normal::before {
    background-image: url($path-img+'ic-checklist.svg');
  }

  &--blue::before {
    background-image: url($path-img+'ic-checklist-blue.svg');
  }

  &--orange::before {
    background-image: url($path-img+'ic-checklist-orange.svg');
  }

  &--green::before {
    @include icon-setting($ic-checklist-green);
  }

  &--skyblue::before {
    background-image: url($path-img+'ic-checklist-skyblue.svg');
  }

  &--skyblue2::before {
    background-image: url($path-img+'ic-checklist-skyblue2.svg');
  }
  &--darkblue::before {
    background-image: url($path-img+'ic-checklist-darkblue.svg');
  }

  @media ($query-mobile) {
    &::before {
      @include size(16px);
      top: 2px;
    }
  }
}
