.btn {
  display: inline-block;
  @include size(130px, 42px);
  color: #fff;
  font-size: rem(18px);
  text-align: center;
  line-height: 42px;

  &--primary {
    background-color: $color-dark-black;
  }
  &--secondary {
    background-color: $color-orange;
  }
  &--noraml {
    background-color: $color-normal;
  }
  &--light {
    background-color: $color-light;
  }
}
