/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$btn-arrow-down-2x-x: 0px;
$btn-arrow-down-2x-y: 0px;
$btn-arrow-down-2x-offset-x: 0px;
$btn-arrow-down-2x-offset-y: 0px;
$btn-arrow-down-2x-width: 48px;
$btn-arrow-down-2x-height: 48px;
$btn-arrow-down-2x-total-width: 338px;
$btn-arrow-down-2x-total-height: 9380px;
$btn-arrow-down-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-arrow-down-2x: 0px 0px 0px 0px 48px 48px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$btn-arrow-down-sm-2x-x: 0px;
$btn-arrow-down-sm-2x-y: 58px;
$btn-arrow-down-sm-2x-offset-x: 0px;
$btn-arrow-down-sm-2x-offset-y: -58px;
$btn-arrow-down-sm-2x-width: 40px;
$btn-arrow-down-sm-2x-height: 42px;
$btn-arrow-down-sm-2x-total-width: 338px;
$btn-arrow-down-sm-2x-total-height: 9380px;
$btn-arrow-down-sm-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-arrow-down-sm-2x: 0px 58px 0px -58px 40px 42px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$btn-pic-enlarge-2x-x: 0px;
$btn-pic-enlarge-2x-y: 110px;
$btn-pic-enlarge-2x-offset-x: 0px;
$btn-pic-enlarge-2x-offset-y: -110px;
$btn-pic-enlarge-2x-width: 68px;
$btn-pic-enlarge-2x-height: 68px;
$btn-pic-enlarge-2x-total-width: 338px;
$btn-pic-enlarge-2x-total-height: 9380px;
$btn-pic-enlarge-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-pic-enlarge-2x: 0px 110px 0px -110px 68px 68px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$btn-pic-enlarge-roro-2x-x: 0px;
$btn-pic-enlarge-roro-2x-y: 188px;
$btn-pic-enlarge-roro-2x-offset-x: 0px;
$btn-pic-enlarge-roro-2x-offset-y: -188px;
$btn-pic-enlarge-roro-2x-width: 68px;
$btn-pic-enlarge-roro-2x-height: 68px;
$btn-pic-enlarge-roro-2x-total-width: 338px;
$btn-pic-enlarge-roro-2x-total-height: 9380px;
$btn-pic-enlarge-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-pic-enlarge-roro-2x: 0px 188px 0px -188px 68px 68px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$btn-pic-shrink-2x-x: 0px;
$btn-pic-shrink-2x-y: 266px;
$btn-pic-shrink-2x-offset-x: 0px;
$btn-pic-shrink-2x-offset-y: -266px;
$btn-pic-shrink-2x-width: 72px;
$btn-pic-shrink-2x-height: 70px;
$btn-pic-shrink-2x-total-width: 338px;
$btn-pic-shrink-2x-total-height: 9380px;
$btn-pic-shrink-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-pic-shrink-2x: 0px 266px 0px -266px 72px 70px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$btn-pic-shrink-roro-2x-x: 0px;
$btn-pic-shrink-roro-2x-y: 346px;
$btn-pic-shrink-roro-2x-offset-x: 0px;
$btn-pic-shrink-roro-2x-offset-y: -346px;
$btn-pic-shrink-roro-2x-width: 70px;
$btn-pic-shrink-roro-2x-height: 70px;
$btn-pic-shrink-roro-2x-total-width: 338px;
$btn-pic-shrink-roro-2x-total-height: 9380px;
$btn-pic-shrink-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-pic-shrink-roro-2x: 0px 346px 0px -346px 70px 70px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$btn-video-start-2x-x: 0px;
$btn-video-start-2x-y: 426px;
$btn-video-start-2x-offset-x: 0px;
$btn-video-start-2x-offset-y: -426px;
$btn-video-start-2x-width: 260px;
$btn-video-start-2x-height: 260px;
$btn-video-start-2x-total-width: 338px;
$btn-video-start-2x-total-height: 9380px;
$btn-video-start-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-video-start-2x: 0px 426px 0px -426px 260px 260px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$btn-video-start-hover-2x-x: 0px;
$btn-video-start-hover-2x-y: 696px;
$btn-video-start-hover-2x-offset-x: 0px;
$btn-video-start-hover-2x-offset-y: -696px;
$btn-video-start-hover-2x-width: 260px;
$btn-video-start-hover-2x-height: 260px;
$btn-video-start-hover-2x-total-width: 338px;
$btn-video-start-hover-2x-total-height: 9380px;
$btn-video-start-hover-2x-image: '../images/sprite/sprite-icons-2x.png';
$btn-video-start-hover-2x: 0px 696px 0px -696px 260px 260px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$footer-logo-2x-x: 0px;
$footer-logo-2x-y: 966px;
$footer-logo-2x-offset-x: 0px;
$footer-logo-2x-offset-y: -966px;
$footer-logo-2x-width: 338px;
$footer-logo-2x-height: 102px;
$footer-logo-2x-total-width: 338px;
$footer-logo-2x-total-height: 9380px;
$footer-logo-2x-image: '../images/sprite/sprite-icons-2x.png';
$footer-logo-2x: 0px 966px 0px -966px 338px 102px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$gnb-favicon-roro-2x-x: 0px;
$gnb-favicon-roro-2x-y: 1078px;
$gnb-favicon-roro-2x-offset-x: 0px;
$gnb-favicon-roro-2x-offset-y: -1078px;
$gnb-favicon-roro-2x-width: 68px;
$gnb-favicon-roro-2x-height: 68px;
$gnb-favicon-roro-2x-total-width: 338px;
$gnb-favicon-roro-2x-total-height: 9380px;
$gnb-favicon-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$gnb-favicon-roro-2x: 0px 1078px 0px -1078px 68px 68px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$gnb-favicon-wasup-2x-x: 0px;
$gnb-favicon-wasup-2x-y: 1156px;
$gnb-favicon-wasup-2x-offset-x: 0px;
$gnb-favicon-wasup-2x-offset-y: -1156px;
$gnb-favicon-wasup-2x-width: 68px;
$gnb-favicon-wasup-2x-height: 68px;
$gnb-favicon-wasup-2x-total-width: 338px;
$gnb-favicon-wasup-2x-total-height: 9380px;
$gnb-favicon-wasup-2x-image: '../images/sprite/sprite-icons-2x.png';
$gnb-favicon-wasup-2x: 0px 1156px 0px -1156px 68px 68px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-blue-2x-x: 0px;
$ic-arrow-blue-2x-y: 1234px;
$ic-arrow-blue-2x-offset-x: 0px;
$ic-arrow-blue-2x-offset-y: -1234px;
$ic-arrow-blue-2x-width: 54px;
$ic-arrow-blue-2x-height: 54px;
$ic-arrow-blue-2x-total-width: 338px;
$ic-arrow-blue-2x-total-height: 9380px;
$ic-arrow-blue-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-blue-2x: 0px 1234px 0px -1234px 54px 54px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-brown-2x-x: 0px;
$ic-arrow-brown-2x-y: 1298px;
$ic-arrow-brown-2x-offset-x: 0px;
$ic-arrow-brown-2x-offset-y: -1298px;
$ic-arrow-brown-2x-width: 54px;
$ic-arrow-brown-2x-height: 54px;
$ic-arrow-brown-2x-total-width: 338px;
$ic-arrow-brown-2x-total-height: 9380px;
$ic-arrow-brown-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-brown-2x: 0px 1298px 0px -1298px 54px 54px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-skyblue-2x-x: 0px;
$ic-arrow-skyblue-2x-y: 1362px;
$ic-arrow-skyblue-2x-offset-x: 0px;
$ic-arrow-skyblue-2x-offset-y: -1362px;
$ic-arrow-skyblue-2x-width: 32px;
$ic-arrow-skyblue-2x-height: 32px;
$ic-arrow-skyblue-2x-total-width: 338px;
$ic-arrow-skyblue-2x-total-height: 9380px;
$ic-arrow-skyblue-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-skyblue-2x: 0px 1362px 0px -1362px 32px 32px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-sora-2x-x: 0px;
$ic-arrow-sora-2x-y: 1404px;
$ic-arrow-sora-2x-offset-x: 0px;
$ic-arrow-sora-2x-offset-y: -1404px;
$ic-arrow-sora-2x-width: 30px;
$ic-arrow-sora-2x-height: 32px;
$ic-arrow-sora-2x-total-width: 338px;
$ic-arrow-sora-2x-total-height: 9380px;
$ic-arrow-sora-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-sora-2x: 0px 1404px 0px -1404px 30px 32px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-arrow-white-2x-x: 0px;
$ic-arrow-white-2x-y: 1446px;
$ic-arrow-white-2x-offset-x: 0px;
$ic-arrow-white-2x-offset-y: -1446px;
$ic-arrow-white-2x-width: 54px;
$ic-arrow-white-2x-height: 54px;
$ic-arrow-white-2x-total-width: 338px;
$ic-arrow-white-2x-total-height: 9380px;
$ic-arrow-white-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-arrow-white-2x: 0px 1446px 0px -1446px 54px 54px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-bell-2x-x: 0px;
$ic-bell-2x-y: 1510px;
$ic-bell-2x-offset-x: 0px;
$ic-bell-2x-offset-y: -1510px;
$ic-bell-2x-width: 100px;
$ic-bell-2x-height: 100px;
$ic-bell-2x-total-width: 338px;
$ic-bell-2x-total-height: 9380px;
$ic-bell-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-bell-2x: 0px 1510px 0px -1510px 100px 100px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-checklist-2x-x: 0px;
$ic-checklist-2x-y: 1620px;
$ic-checklist-2x-offset-x: 0px;
$ic-checklist-2x-offset-y: -1620px;
$ic-checklist-2x-width: 40px;
$ic-checklist-2x-height: 40px;
$ic-checklist-2x-total-width: 338px;
$ic-checklist-2x-total-height: 9380px;
$ic-checklist-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-checklist-2x: 0px 1620px 0px -1620px 40px 40px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-checklist-green-x: 0px;
$ic-checklist-green-y: 1670px;
$ic-checklist-green-offset-x: 0px;
$ic-checklist-green-offset-y: -1670px;
$ic-checklist-green-width: 40px;
$ic-checklist-green-height: 40px;
$ic-checklist-green-total-width: 338px;
$ic-checklist-green-total-height: 9380px;
$ic-checklist-green-image: '../images/sprite/sprite-icons-2x.png';
$ic-checklist-green: 0px 1670px 0px -1670px 40px 40px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-critical-2x-x: 0px;
$ic-critical-2x-y: 1720px;
$ic-critical-2x-offset-x: 0px;
$ic-critical-2x-offset-y: -1720px;
$ic-critical-2x-width: 58px;
$ic-critical-2x-height: 58px;
$ic-critical-2x-total-width: 338px;
$ic-critical-2x-total-height: 9380px;
$ic-critical-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-critical-2x: 0px 1720px 0px -1720px 58px 58px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-download-white-2x-x: 0px;
$ic-download-white-2x-y: 1788px;
$ic-download-white-2x-offset-x: 0px;
$ic-download-white-2x-offset-y: -1788px;
$ic-download-white-2x-width: 48px;
$ic-download-white-2x-height: 48px;
$ic-download-white-2x-total-width: 338px;
$ic-download-white-2x-total-height: 9380px;
$ic-download-white-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-download-white-2x: 0px 1788px 0px -1788px 48px 48px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-function1-2x-x: 0px;
$ic-function1-2x-y: 1846px;
$ic-function1-2x-offset-x: 0px;
$ic-function1-2x-offset-y: -1846px;
$ic-function1-2x-width: 118px;
$ic-function1-2x-height: 104px;
$ic-function1-2x-total-width: 338px;
$ic-function1-2x-total-height: 9380px;
$ic-function1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function1-2x: 0px 1846px 0px -1846px 118px 104px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-function1-roro-2x-x: 0px;
$ic-function1-roro-2x-y: 1960px;
$ic-function1-roro-2x-offset-x: 0px;
$ic-function1-roro-2x-offset-y: -1960px;
$ic-function1-roro-2x-width: 148px;
$ic-function1-roro-2x-height: 148px;
$ic-function1-roro-2x-total-width: 338px;
$ic-function1-roro-2x-total-height: 9380px;
$ic-function1-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function1-roro-2x: 0px 1960px 0px -1960px 148px 148px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-function2-2x-x: 0px;
$ic-function2-2x-y: 2118px;
$ic-function2-2x-offset-x: 0px;
$ic-function2-2x-offset-y: -2118px;
$ic-function2-2x-width: 100px;
$ic-function2-2x-height: 110px;
$ic-function2-2x-total-width: 338px;
$ic-function2-2x-total-height: 9380px;
$ic-function2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function2-2x: 0px 2118px 0px -2118px 100px 110px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-function2-roro-2x-x: 0px;
$ic-function2-roro-2x-y: 2238px;
$ic-function2-roro-2x-offset-x: 0px;
$ic-function2-roro-2x-offset-y: -2238px;
$ic-function2-roro-2x-width: 150px;
$ic-function2-roro-2x-height: 148px;
$ic-function2-roro-2x-total-width: 338px;
$ic-function2-roro-2x-total-height: 9380px;
$ic-function2-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function2-roro-2x: 0px 2238px 0px -2238px 150px 148px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-function3-2x-x: 0px;
$ic-function3-2x-y: 2396px;
$ic-function3-2x-offset-x: 0px;
$ic-function3-2x-offset-y: -2396px;
$ic-function3-2x-width: 106px;
$ic-function3-2x-height: 94px;
$ic-function3-2x-total-width: 338px;
$ic-function3-2x-total-height: 9380px;
$ic-function3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function3-2x: 0px 2396px 0px -2396px 106px 94px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-function3-roro-2x-x: 0px;
$ic-function3-roro-2x-y: 2500px;
$ic-function3-roro-2x-offset-x: 0px;
$ic-function3-roro-2x-offset-y: -2500px;
$ic-function3-roro-2x-width: 148px;
$ic-function3-roro-2x-height: 148px;
$ic-function3-roro-2x-total-width: 338px;
$ic-function3-roro-2x-total-height: 9380px;
$ic-function3-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-function3-roro-2x: 0px 2500px 0px -2500px 148px 148px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-key-2x-x: 0px;
$ic-key-2x-y: 2658px;
$ic-key-2x-offset-x: 0px;
$ic-key-2x-offset-y: -2658px;
$ic-key-2x-width: 56px;
$ic-key-2x-height: 58px;
$ic-key-2x-total-width: 338px;
$ic-key-2x-total-height: 9380px;
$ic-key-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-key-2x: 0px 2658px 0px -2658px 56px 58px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-warning-2x-x: 0px;
$ic-warning-2x-y: 2726px;
$ic-warning-2x-offset-x: 0px;
$ic-warning-2x-offset-y: -2726px;
$ic-warning-2x-width: 56px;
$ic-warning-2x-height: 58px;
$ic-warning-2x-total-width: 338px;
$ic-warning-2x-total-height: 9380px;
$ic-warning-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-warning-2x: 0px 2726px 0px -2726px 56px 58px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-why1-roro-2x-x: 0px;
$ic-why1-roro-2x-y: 2794px;
$ic-why1-roro-2x-offset-x: 0px;
$ic-why1-roro-2x-offset-y: -2794px;
$ic-why1-roro-2x-width: 200px;
$ic-why1-roro-2x-height: 200px;
$ic-why1-roro-2x-total-width: 338px;
$ic-why1-roro-2x-total-height: 9380px;
$ic-why1-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-why1-roro-2x: 0px 2794px 0px -2794px 200px 200px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-why2-roro-2x-x: 0px;
$ic-why2-roro-2x-y: 3004px;
$ic-why2-roro-2x-offset-x: 0px;
$ic-why2-roro-2x-offset-y: -3004px;
$ic-why2-roro-2x-width: 200px;
$ic-why2-roro-2x-height: 200px;
$ic-why2-roro-2x-total-width: 338px;
$ic-why2-roro-2x-total-height: 9380px;
$ic-why2-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-why2-roro-2x: 0px 3004px 0px -3004px 200px 200px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-why3-roro-2x-x: 0px;
$ic-why3-roro-2x-y: 3214px;
$ic-why3-roro-2x-offset-x: 0px;
$ic-why3-roro-2x-offset-y: -3214px;
$ic-why3-roro-2x-width: 200px;
$ic-why3-roro-2x-height: 200px;
$ic-why3-roro-2x-total-width: 338px;
$ic-why3-roro-2x-total-height: 9380px;
$ic-why3-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-why3-roro-2x: 0px 3214px 0px -3214px 200px 200px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-wizard-panel-2x-x: 0px;
$ic-wizard-panel-2x-y: 3424px;
$ic-wizard-panel-2x-offset-x: 0px;
$ic-wizard-panel-2x-offset-y: -3424px;
$ic-wizard-panel-2x-width: 150px;
$ic-wizard-panel-2x-height: 150px;
$ic-wizard-panel-2x-total-width: 338px;
$ic-wizard-panel-2x-total-height: 9380px;
$ic-wizard-panel-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-wizard-panel-2x: 0px 3424px 0px -3424px 150px 150px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ic-wizard-panel-roro-2x-x: 0px;
$ic-wizard-panel-roro-2x-y: 3584px;
$ic-wizard-panel-roro-2x-offset-x: 0px;
$ic-wizard-panel-roro-2x-offset-y: -3584px;
$ic-wizard-panel-roro-2x-width: 144px;
$ic-wizard-panel-roro-2x-height: 144px;
$ic-wizard-panel-roro-2x-total-width: 338px;
$ic-wizard-panel-roro-2x-total-height: 9380px;
$ic-wizard-panel-roro-2x-image: '../images/sprite/sprite-icons-2x.png';
$ic-wizard-panel-roro-2x: 0px 3584px 0px -3584px 144px 144px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-arrow-down-white-2x-x: 0px;
$ico-arrow-down-white-2x-y: 3738px;
$ico-arrow-down-white-2x-offset-x: 0px;
$ico-arrow-down-white-2x-offset-y: -3738px;
$ico-arrow-down-white-2x-width: 48px;
$ico-arrow-down-white-2x-height: 48px;
$ico-arrow-down-white-2x-total-width: 338px;
$ico-arrow-down-white-2x-total-height: 9380px;
$ico-arrow-down-white-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-arrow-down-white-2x: 0px 3738px 0px -3738px 48px 48px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-benefit1-2x-x: 0px;
$ico-benefit1-2x-y: 3796px;
$ico-benefit1-2x-offset-x: 0px;
$ico-benefit1-2x-offset-y: -3796px;
$ico-benefit1-2x-width: 200px;
$ico-benefit1-2x-height: 200px;
$ico-benefit1-2x-total-width: 338px;
$ico-benefit1-2x-total-height: 9380px;
$ico-benefit1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-benefit1-2x: 0px 3796px 0px -3796px 200px 200px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-benefit2-2x-x: 0px;
$ico-benefit2-2x-y: 4006px;
$ico-benefit2-2x-offset-x: 0px;
$ico-benefit2-2x-offset-y: -4006px;
$ico-benefit2-2x-width: 200px;
$ico-benefit2-2x-height: 200px;
$ico-benefit2-2x-total-width: 338px;
$ico-benefit2-2x-total-height: 9380px;
$ico-benefit2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-benefit2-2x: 0px 4006px 0px -4006px 200px 200px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-benefit3-2x-x: 0px;
$ico-benefit3-2x-y: 4216px;
$ico-benefit3-2x-offset-x: 0px;
$ico-benefit3-2x-offset-y: -4216px;
$ico-benefit3-2x-width: 200px;
$ico-benefit3-2x-height: 200px;
$ico-benefit3-2x-total-width: 338px;
$ico-benefit3-2x-total-height: 9380px;
$ico-benefit3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-benefit3-2x: 0px 4216px 0px -4216px 200px 200px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-case-roro-x: 0px;
$ico-case-roro-y: 4426px;
$ico-case-roro-offset-x: 0px;
$ico-case-roro-offset-y: -4426px;
$ico-case-roro-width: 160px;
$ico-case-roro-height: 140px;
$ico-case-roro-total-width: 338px;
$ico-case-roro-total-height: 9380px;
$ico-case-roro-image: '../images/sprite/sprite-icons-2x.png';
$ico-case-roro: 0px 4426px 0px -4426px 160px 140px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-case-wasup-2x-x: 0px;
$ico-case-wasup-2x-y: 4576px;
$ico-case-wasup-2x-offset-x: 0px;
$ico-case-wasup-2x-offset-y: -4576px;
$ico-case-wasup-2x-width: 160px;
$ico-case-wasup-2x-height: 140px;
$ico-case-wasup-2x-total-width: 338px;
$ico-case-wasup-2x-total-height: 9380px;
$ico-case-wasup-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-case-wasup-2x: 0px 4576px 0px -4576px 160px 140px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-check-blue-x: 0px;
$ico-check-blue-y: 4726px;
$ico-check-blue-offset-x: 0px;
$ico-check-blue-offset-y: -4726px;
$ico-check-blue-width: 48px;
$ico-check-blue-height: 48px;
$ico-check-blue-total-width: 338px;
$ico-check-blue-total-height: 9380px;
$ico-check-blue-image: '../images/sprite/sprite-icons-2x.png';
$ico-check-blue: 0px 4726px 0px -4726px 48px 48px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-check-white-x: 0px;
$ico-check-white-y: 4784px;
$ico-check-white-offset-x: 0px;
$ico-check-white-offset-y: -4784px;
$ico-check-white-width: 48px;
$ico-check-white-height: 48px;
$ico-check-white-total-width: 338px;
$ico-check-white-total-height: 9380px;
$ico-check-white-image: '../images/sprite/sprite-icons-2x.png';
$ico-check-white: 0px 4784px 0px -4784px 48px 48px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-close-x: 0px;
$ico-close-y: 4842px;
$ico-close-offset-x: 0px;
$ico-close-offset-y: -4842px;
$ico-close-width: 40px;
$ico-close-height: 40px;
$ico-close-total-width: 338px;
$ico-close-total-height: 9380px;
$ico-close-image: '../images/sprite/sprite-icons-2x.png';
$ico-close: 0px 4842px 0px -4842px 40px 40px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-cloud-2x-x: 0px;
$ico-cloud-2x-y: 4892px;
$ico-cloud-2x-offset-x: 0px;
$ico-cloud-2x-offset-y: -4892px;
$ico-cloud-2x-width: 142px;
$ico-cloud-2x-height: 142px;
$ico-cloud-2x-total-width: 338px;
$ico-cloud-2x-total-height: 9380px;
$ico-cloud-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-cloud-2x: 0px 4892px 0px -4892px 142px 142px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-download-brown-2x-x: 0px;
$ico-download-brown-2x-y: 5044px;
$ico-download-brown-2x-offset-x: 0px;
$ico-download-brown-2x-offset-y: -5044px;
$ico-download-brown-2x-width: 32px;
$ico-download-brown-2x-height: 32px;
$ico-download-brown-2x-total-width: 338px;
$ico-download-brown-2x-total-height: 9380px;
$ico-download-brown-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-download-brown-2x: 0px 5044px 0px -5044px 32px 32px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-download-brown-hover-2x-x: 0px;
$ico-download-brown-hover-2x-y: 5086px;
$ico-download-brown-hover-2x-offset-x: 0px;
$ico-download-brown-hover-2x-offset-y: -5086px;
$ico-download-brown-hover-2x-width: 32px;
$ico-download-brown-hover-2x-height: 32px;
$ico-download-brown-hover-2x-total-width: 338px;
$ico-download-brown-hover-2x-total-height: 9380px;
$ico-download-brown-hover-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-download-brown-hover-2x: 0px 5086px 0px -5086px 32px 32px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-faq-2x-x: 0px;
$ico-faq-2x-y: 5128px;
$ico-faq-2x-offset-x: 0px;
$ico-faq-2x-offset-y: -5128px;
$ico-faq-2x-width: 108px;
$ico-faq-2x-height: 108px;
$ico-faq-2x-total-width: 338px;
$ico-faq-2x-total-height: 9380px;
$ico-faq-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-faq-2x: 0px 5128px 0px -5128px 108px 108px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-faq-on-x: 0px;
$ico-faq-on-y: 5246px;
$ico-faq-on-offset-x: 0px;
$ico-faq-on-offset-y: -5246px;
$ico-faq-on-width: 160px;
$ico-faq-on-height: 160px;
$ico-faq-on-total-width: 338px;
$ico-faq-on-total-height: 9380px;
$ico-faq-on-image: '../images/sprite/sprite-icons-2x.png';
$ico-faq-on: 0px 5246px 0px -5246px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-faq-x: 0px;
$ico-faq-y: 5416px;
$ico-faq-offset-x: 0px;
$ico-faq-offset-y: -5416px;
$ico-faq-width: 160px;
$ico-faq-height: 160px;
$ico-faq-total-width: 338px;
$ico-faq-total-height: 9380px;
$ico-faq-image: '../images/sprite/sprite-icons-2x.png';
$ico-faq: 0px 5416px 0px -5416px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-head-phone-on-x: 0px;
$ico-head-phone-on-y: 5586px;
$ico-head-phone-on-offset-x: 0px;
$ico-head-phone-on-offset-y: -5586px;
$ico-head-phone-on-width: 160px;
$ico-head-phone-on-height: 160px;
$ico-head-phone-on-total-width: 338px;
$ico-head-phone-on-total-height: 9380px;
$ico-head-phone-on-image: '../images/sprite/sprite-icons-2x.png';
$ico-head-phone-on: 0px 5586px 0px -5586px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-head-phone-x: 0px;
$ico-head-phone-y: 5756px;
$ico-head-phone-offset-x: 0px;
$ico-head-phone-offset-y: -5756px;
$ico-head-phone-width: 160px;
$ico-head-phone-height: 160px;
$ico-head-phone-total-width: 338px;
$ico-head-phone-total-height: 9380px;
$ico-head-phone-image: '../images/sprite/sprite-icons-2x.png';
$ico-head-phone: 0px 5756px 0px -5756px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-inquiry1-2x-x: 0px;
$ico-inquiry1-2x-y: 5926px;
$ico-inquiry1-2x-offset-x: 0px;
$ico-inquiry1-2x-offset-y: -5926px;
$ico-inquiry1-2x-width: 160px;
$ico-inquiry1-2x-height: 160px;
$ico-inquiry1-2x-total-width: 338px;
$ico-inquiry1-2x-total-height: 9380px;
$ico-inquiry1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-inquiry1-2x: 0px 5926px 0px -5926px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-inquiry2-2x-x: 0px;
$ico-inquiry2-2x-y: 6096px;
$ico-inquiry2-2x-offset-x: 0px;
$ico-inquiry2-2x-offset-y: -6096px;
$ico-inquiry2-2x-width: 160px;
$ico-inquiry2-2x-height: 160px;
$ico-inquiry2-2x-total-width: 338px;
$ico-inquiry2-2x-total-height: 9380px;
$ico-inquiry2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-inquiry2-2x: 0px 6096px 0px -6096px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-inquiry3-2x-x: 0px;
$ico-inquiry3-2x-y: 6266px;
$ico-inquiry3-2x-offset-x: 0px;
$ico-inquiry3-2x-offset-y: -6266px;
$ico-inquiry3-2x-width: 160px;
$ico-inquiry3-2x-height: 160px;
$ico-inquiry3-2x-total-width: 338px;
$ico-inquiry3-2x-total-height: 9380px;
$ico-inquiry3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-inquiry3-2x: 0px 6266px 0px -6266px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-inquiry3-hover-2x-x: 0px;
$ico-inquiry3-hover-2x-y: 6436px;
$ico-inquiry3-hover-2x-offset-x: 0px;
$ico-inquiry3-hover-2x-offset-y: -6436px;
$ico-inquiry3-hover-2x-width: 160px;
$ico-inquiry3-hover-2x-height: 160px;
$ico-inquiry3-hover-2x-total-width: 338px;
$ico-inquiry3-hover-2x-total-height: 9380px;
$ico-inquiry3-hover-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-inquiry3-hover-2x: 0px 6436px 0px -6436px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-mail-on-x: 0px;
$ico-mail-on-y: 6606px;
$ico-mail-on-offset-x: 0px;
$ico-mail-on-offset-y: -6606px;
$ico-mail-on-width: 160px;
$ico-mail-on-height: 160px;
$ico-mail-on-total-width: 338px;
$ico-mail-on-total-height: 9380px;
$ico-mail-on-image: '../images/sprite/sprite-icons-2x.png';
$ico-mail-on: 0px 6606px 0px -6606px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-mail-x: 0px;
$ico-mail-y: 6776px;
$ico-mail-offset-x: 0px;
$ico-mail-offset-y: -6776px;
$ico-mail-width: 160px;
$ico-mail-height: 160px;
$ico-mail-total-width: 338px;
$ico-mail-total-height: 9380px;
$ico-mail-image: '../images/sprite/sprite-icons-2x.png';
$ico-mail: 0px 6776px 0px -6776px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-resource-download-2x-x: 0px;
$ico-resource-download-2x-y: 6946px;
$ico-resource-download-2x-offset-x: 0px;
$ico-resource-download-2x-offset-y: -6946px;
$ico-resource-download-2x-width: 32px;
$ico-resource-download-2x-height: 32px;
$ico-resource-download-2x-total-width: 338px;
$ico-resource-download-2x-total-height: 9380px;
$ico-resource-download-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-resource-download-2x: 0px 6946px 0px -6946px 32px 32px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-resource-download-hover-2x-x: 0px;
$ico-resource-download-hover-2x-y: 6988px;
$ico-resource-download-hover-2x-offset-x: 0px;
$ico-resource-download-hover-2x-offset-y: -6988px;
$ico-resource-download-hover-2x-width: 32px;
$ico-resource-download-hover-2x-height: 32px;
$ico-resource-download-hover-2x-total-width: 338px;
$ico-resource-download-hover-2x-total-height: 9380px;
$ico-resource-download-hover-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-resource-download-hover-2x: 0px 6988px 0px -6988px 32px 32px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-resource-file-2x-x: 0px;
$ico-resource-file-2x-y: 7030px;
$ico-resource-file-2x-offset-x: 0px;
$ico-resource-file-2x-offset-y: -7030px;
$ico-resource-file-2x-width: 56px;
$ico-resource-file-2x-height: 58px;
$ico-resource-file-2x-total-width: 338px;
$ico-resource-file-2x-total-height: 9380px;
$ico-resource-file-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-resource-file-2x: 0px 7030px 0px -7030px 56px 58px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-resource-note-2x-x: 0px;
$ico-resource-note-2x-y: 7098px;
$ico-resource-note-2x-offset-x: 0px;
$ico-resource-note-2x-offset-y: -7098px;
$ico-resource-note-2x-width: 56px;
$ico-resource-note-2x-height: 56px;
$ico-resource-note-2x-total-width: 338px;
$ico-resource-note-2x-total-height: 9380px;
$ico-resource-note-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-resource-note-2x: 0px 7098px 0px -7098px 56px 56px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-resource-video-2x-x: 0px;
$ico-resource-video-2x-y: 7164px;
$ico-resource-video-2x-offset-x: 0px;
$ico-resource-video-2x-offset-y: -7164px;
$ico-resource-video-2x-width: 56px;
$ico-resource-video-2x-height: 56px;
$ico-resource-video-2x-total-width: 338px;
$ico-resource-video-2x-total-height: 9380px;
$ico-resource-video-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-resource-video-2x: 0px 7164px 0px -7164px 56px 56px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-subscript1-2x-x: 0px;
$ico-subscript1-2x-y: 7230px;
$ico-subscript1-2x-offset-x: 0px;
$ico-subscript1-2x-offset-y: -7230px;
$ico-subscript1-2x-width: 160px;
$ico-subscript1-2x-height: 160px;
$ico-subscript1-2x-total-width: 338px;
$ico-subscript1-2x-total-height: 9380px;
$ico-subscript1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-subscript1-2x: 0px 7230px 0px -7230px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-subscript2-2x-x: 0px;
$ico-subscript2-2x-y: 7400px;
$ico-subscript2-2x-offset-x: 0px;
$ico-subscript2-2x-offset-y: -7400px;
$ico-subscript2-2x-width: 160px;
$ico-subscript2-2x-height: 160px;
$ico-subscript2-2x-total-width: 338px;
$ico-subscript2-2x-total-height: 9380px;
$ico-subscript2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-subscript2-2x: 0px 7400px 0px -7400px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-subscript3-2x-x: 0px;
$ico-subscript3-2x-y: 7570px;
$ico-subscript3-2x-offset-x: 0px;
$ico-subscript3-2x-offset-y: -7570px;
$ico-subscript3-2x-width: 160px;
$ico-subscript3-2x-height: 160px;
$ico-subscript3-2x-total-width: 338px;
$ico-subscript3-2x-total-height: 9380px;
$ico-subscript3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-subscript3-2x: 0px 7570px 0px -7570px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-support-hover1-2x-x: 0px;
$ico-support-hover1-2x-y: 7740px;
$ico-support-hover1-2x-offset-x: 0px;
$ico-support-hover1-2x-offset-y: -7740px;
$ico-support-hover1-2x-width: 160px;
$ico-support-hover1-2x-height: 160px;
$ico-support-hover1-2x-total-width: 338px;
$ico-support-hover1-2x-total-height: 9380px;
$ico-support-hover1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-support-hover1-2x: 0px 7740px 0px -7740px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-support-hover2-2x-x: 0px;
$ico-support-hover2-2x-y: 7910px;
$ico-support-hover2-2x-offset-x: 0px;
$ico-support-hover2-2x-offset-y: -7910px;
$ico-support-hover2-2x-width: 160px;
$ico-support-hover2-2x-height: 160px;
$ico-support-hover2-2x-total-width: 338px;
$ico-support-hover2-2x-total-height: 9380px;
$ico-support-hover2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-support-hover2-2x: 0px 7910px 0px -7910px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-support-hover3-2x-x: 0px;
$ico-support-hover3-2x-y: 8080px;
$ico-support-hover3-2x-offset-x: 0px;
$ico-support-hover3-2x-offset-y: -8080px;
$ico-support-hover3-2x-width: 160px;
$ico-support-hover3-2x-height: 160px;
$ico-support-hover3-2x-total-width: 338px;
$ico-support-hover3-2x-total-height: 9380px;
$ico-support-hover3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-support-hover3-2x: 0px 8080px 0px -8080px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-support1-2x-x: 0px;
$ico-support1-2x-y: 8250px;
$ico-support1-2x-offset-x: 0px;
$ico-support1-2x-offset-y: -8250px;
$ico-support1-2x-width: 160px;
$ico-support1-2x-height: 160px;
$ico-support1-2x-total-width: 338px;
$ico-support1-2x-total-height: 9380px;
$ico-support1-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-support1-2x: 0px 8250px 0px -8250px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-support2-2x-x: 0px;
$ico-support2-2x-y: 8420px;
$ico-support2-2x-offset-x: 0px;
$ico-support2-2x-offset-y: -8420px;
$ico-support2-2x-width: 160px;
$ico-support2-2x-height: 160px;
$ico-support2-2x-total-width: 338px;
$ico-support2-2x-total-height: 9380px;
$ico-support2-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-support2-2x: 0px 8420px 0px -8420px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$ico-support3-2x-x: 0px;
$ico-support3-2x-y: 8590px;
$ico-support3-2x-offset-x: 0px;
$ico-support3-2x-offset-y: -8590px;
$ico-support3-2x-width: 160px;
$ico-support3-2x-height: 160px;
$ico-support3-2x-total-width: 338px;
$ico-support3-2x-total-height: 9380px;
$ico-support3-2x-image: '../images/sprite/sprite-icons-2x.png';
$ico-support3-2x: 0px 8590px 0px -8590px 160px 160px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$why1-2x-x: 0px;
$why1-2x-y: 8760px;
$why1-2x-offset-x: 0px;
$why1-2x-offset-y: -8760px;
$why1-2x-width: 200px;
$why1-2x-height: 200px;
$why1-2x-total-width: 338px;
$why1-2x-total-height: 9380px;
$why1-2x-image: '../images/sprite/sprite-icons-2x.png';
$why1-2x: 0px 8760px 0px -8760px 200px 200px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$why2-2x-x: 0px;
$why2-2x-y: 8970px;
$why2-2x-offset-x: 0px;
$why2-2x-offset-y: -8970px;
$why2-2x-width: 200px;
$why2-2x-height: 200px;
$why2-2x-total-width: 338px;
$why2-2x-total-height: 9380px;
$why2-2x-image: '../images/sprite/sprite-icons-2x.png';
$why2-2x: 0px 8970px 0px -8970px 200px 200px 338px 9380px '../images/sprite/sprite-icons-2x.png';
$why3-2x-x: 0px;
$why3-2x-y: 9180px;
$why3-2x-offset-x: 0px;
$why3-2x-offset-y: -9180px;
$why3-2x-width: 200px;
$why3-2x-height: 200px;
$why3-2x-total-width: 338px;
$why3-2x-total-height: 9380px;
$why3-2x-image: '../images/sprite/sprite-icons-2x.png';
$why3-2x: 0px 9180px 0px -9180px 200px 200px 338px 9380px '../images/sprite/sprite-icons-2x.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
