$path: '../';
$path-img: $path + 'images/';
$path-font: $path + 'fonts/';

$color-default: #323e51; // default color
$color-light-black: #687381;
$color-orange: #faa61e;
$color-normal: #3d5399;
$color-light: #fff;

$width-max: 1200px;
$height-snb: 60px;
$height-hero: 820px;

$reset-font-size: 10px;
$font-noto: 'NotoCJK', sans-serif;

$arrow-anim-time: 0.23s;
